<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({{urlcolgate}}colgateprincipal_mxeyjy.png)">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h2>Limpieza<br> Oral</h2>
                    <a [routerLink]="['/Producto']" id="menubtn" class="btn caviar-btn"><span></span>Productos</a>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="caviar-dish-menu clearfix" id="menu">
    <div class="container">
        <div class="row">
            <div class="col-12 menu-heading">
                <div class="section-heading text-center">
                    <br>
                    <br>
                    <br>
                    <h2>Cuidado Oral</h2>
                </div>
            </div>
        </div>
        <div class="row  col-12">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlcolgate}}2_rfanc6.png" alt="">
                    <div class="dish-info">
                        <h6>Triple Accion 22ml
                            <br>
                            <p>Caja: 144 unidades <br> Display: 12unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlcolgate}}3_kviv7z.png" alt="">
                    <div class="dish-info">
                        <h6>Triple Accion 60ml
                            <br>
                            <p> Caja: 144 unidades <br> Display: 12unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlcolgate}}1_q4c0fi.png" alt="">
                    <div class="dish-info">
                        <h6>Triple Accion 150ml
                            <br>
                            <p> Caja: 144 unidades <br> Display: 12unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlcolgate}}4_jgvwvu.png" alt="">
                    <div class="dish-info">
                        <h6> Crema Triple Accion <br>Paquete x2 75ml
                            <p>Caja: 36 unidades<br><br></p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlcolgate}}5_byd4bk.png" alt="">
                    <div class="dish-info">
                        <h6> Triple Accion Extra <br> Blancura 60ml.
                            <p>Caja: 144 unidades <br>Display: 12 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlcolgate}}6_kqrsj3.png" alt="">
                    <div class="dish-info">
                        <h6> Triple Accion Extra <br> Blancura 75ml Pack
                            <p>Caja: 24 pack <br> 3 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlcolgate}}7_bthr9x.png" alt="">
                    <div class="dish-info">
                        <h6> Menta Anticaries Blanca 60ml
                            <p>Caja: 144 unidades <br>Display: 12 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlcolgate}}8_fgzpjo.png" alt="">
                    <div class="dish-info">
                        <h6>Menta Anticaries Blanca 150ml Jumbo
                            <p>Caja: 48 unidades <br>Display: 12 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlcolgate}}9_vhtrap.png" alt="">
                    <div class="dish-info">
                        <h6>Crema Dental Total Mint <br> Clean 75ml
                            <p>Caja: 72 unidades <br>.</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlcolgate}}10_ewdtqz.png" alt="">
                    <div class="dish-info">
                        <h6>Crema Dental Total Mint <br> Clean 150ml
                            <p>Caja: 72 unidades <br>.</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlcolgate}}11_ipoogr.png" alt="">
                    <div class="dish-info">
                        <h6>Crema Dental Total Mint <br> Clean 75ml Pack
                            <p>Caja: 24 pack <br> 3 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlcolgate}}12_tirti4.png" alt="">
                    <div class="dish-info">
                        <h6>Crema Dental Total Salud <br> Visible 3x75ml
                            <p>Caja: 24 pack <br> 3 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlcolgate}}13_vlwjzb.png" alt="">
                    <div class="dish-info">
                        <h6>Crema Total Profesional <br> Encias Saludable 75ml
                            <p>Caja: 48 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlcolgate}}14_dvd730.png" alt="">
                    <div class="dish-info">
                        <h6>Crema Dental Sensitive <br> Original 75ml
                            <p>Caja: 12 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlcolgate}}15_urcn4c.png" alt="">
                    <div class="dish-info">
                        <h6>Crema Dental Luminous <br> White Brillante 125ml
                            <p>Caja: 48 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlcolgate}}16_nukxqm.png" alt="">
                    <div class="dish-info">
                        <h6>Kids Gel 50grs <br> Tutifrutti 6años +
                            <p>Caja: 72 unidades <br> surtido </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlcolgate}}17_cpujw5.png" alt="">
                    <div class="dish-info">
                        <h6>Kids Smiles 75ml <br> 2-5 años
                            <p>Caja: 12 unidades <br> surtido </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlcolgate}}18_mhbygb.png" alt="">
                    <div class="dish-info">
                        <h6>Kids Smiles 75ml <br> Minions 6años +
                            <br><br>
                            <p>Caja: 12 unidades.<br></p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlcolgate}}19_rrevsy.png" alt="">
                    <div class="dish-info">
                        <h6>Enjuage Bucal Plax
                            <br> Ice Infinity 180ml
                            <p>Caja: 12 unidades
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlcolgate}}20_tjig3h.png" alt="">
                    <div class="dish-info">
                        <h6>Enjuague Bucal Plax <br> Ice Glacial 500ml
                            <p>Caja: 12 unidades
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlcolgate}}21_cwdlj9.png" alt="">
                    <div class="dish-info">
                        <h6>Enjuague Bucal Plax
                            <br> Luminous White 250ml
                            <p>Caja: 12 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlcolgate}}22_jlyvdc.png" alt="">
                    <div class="dish-info">
                        <h6>Enjuague Bucal Plax <br> Kids Minions 250ml
                            <p>Caja: 12 unidades
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlcolgate}}23_vqhajn.png" alt="">
                    <div class="dish-info">
                        <h6>Hilo Dental Colgate Total
                            <br> 25m Fluor y Menta
                            <p>Caja: 24 unidades
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlcolgate}}24_volivl.png" alt="">
                    <div class="dish-info">
                        <h6>Hilo Dental Colgate Total 25m
                            <p>Caja: 24 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlcolgate}}25_znxd8m.png" alt="">
                    <div class="dish-info">
                        <h6>Slim Soft Blue 2x1
                            <p>Caja: 24 pares
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlcolgate}}26_hjl30l.png" alt="">
                    <div class="dish-info">
                        <h6>Slim Soft Advance 2x1
                            <p>Caja: 12 pares
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlcolgate}}27_urfzdp.png" alt="">
                    <div class="dish-info">
                        <h6>Max White 2x1 <br>
                            <p>Caja: 12 pares</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlcolgate}}28_bnwl1n.png" alt="">
                    <div class="dish-info">
                        <h6>Cepillo Dental 360 Suave<br>
                            <p>Caja: 72 pares
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlcolgate}}29_ffmpcl.png" alt="">
                    <div class="dish-info">
                        <h6>360 Sorround Med. 2x1
                            <p>Caja: 12 pares
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlcolgate}}30_wca6ei.png" alt="">
                    <div class="dish-info">
                        <h6>360 Luminous White 2x1
                            <p>Caja: 12 pares</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlcolgate}}34_gopbst.png" alt="">
                    <div class="dish-info">
                        <h6>Triple Accion 2x1
                            <p>Caja: 12 pares
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlcolgate}}35_kgib9m.png" alt="">
                    <div class="dish-info">
                        <h6>Twister Porta Cabezas 2x1
                            <p>Caja: 12 pares</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlcolgate}}36_cauzj5.png" alt="">
                    <div class="dish-info">
                        <h6>Extra Clean 2x1
                            <p>Caja: 48pares</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlcolgate}}37_h5zwrw.png" alt="">
                    <div class="dish-info">
                        <h6>Cepillo Adulto Primier <br> Clean
                            <p>Lamina: 12unidades<br> Caja: 12 Laminas
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlcolgate}}38_quvsnv.png" alt="">
                    <div class="dish-info">
                        <h6>Cepillo Dental Kids Value <br> 2 años +
                            <p>Display: 12 unidades <br> Caja: 6 display </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlcolgate}}39_prvsnc.png" alt="">
                    <div class="dish-info">
                        <h6>Cepillo D. Kids Smile<br> 6años +
                            <p>Caja: 24 unidades <br>surtido</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlcolgate}}40_jl7hzq.png" alt="">
                    <div class="dish-info">
                        <h6>Cepillo D. Kids Smiles <br> Minions 6años +
                            <p>Caja: 12 pares <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlcolgate}}41_mcjabt.png" alt="">
                    <div class="dish-info">
                        <h6>Cepillo D. Kids Smile<br> 2-5 años
                            <p>Caja: 24 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>