<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../../assets/img/menu-img/colgate/colgate_principal.jpg)">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h2>Limpieza Bucal</h2>
                    <a href="#menu" id="menubtn" class="btn caviar-btn"><span></span> Inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="caviar-dish-menu clearfix" id="menu">
    <div class="container">
        <div class="row">
            <div class="col-12 menu-heading">
                <div class="section-heading text-center">
                    <br>
                    <br>
                    <br>
                    <h2>Cuidado Bucal</h2>
                </div>
            </div>
        </div>
        <div class="row  col-12">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/colgate/2.png" alt="">
                    <div class="dish-info">
                        <h6>Triple Accion 22ml
                            <br>
                            <br>
                            <p>Caja: 144 unidades <br> Display: 12unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/colgate/3.png" alt="">
                    <div class="dish-info">
                        <h6>Triple Accion 60ml
                            <br>
                            <br>
                            <p> Caja: 144 unidades <br> Display: 12unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/colgate/1.png" alt="">
                    <div class="dish-info">
                        <h6>Triple Accion 150ml
                            <br>
                            <br>
                            <p> Caja: 144 unidades <br> Display: 12unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/colgate/4.png" alt="">
                    <div class="dish-info">
                        <h6> Crema Triple A. Paquete <br> x2 75ml
                            <br>
                            <br>
                            <p>Caja: 36 unidades <br> .</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/colgate/5.png" alt="">
                    <div class="dish-info">
                        <h6> Triple Accion Extra <br> Blancura 60ml
                            <br>
                            <br>
                            <p>Caja: 144 unidades <br>Display: 12 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/colgate/6.png" alt="">
                    <div class="dish-info">
                        <h6> Triple Accion Extra <br> Blancura 75ml Pack
                            <br>
                            <br>
                            <p>Caja: 24 pack <br> 3 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/colgate/7.png" alt="">
                    <div class="dish-info">
                        <h6> MentaAnticaries Blanca 60ml
                            <br>
                            <br>
                            <p>Caja: 144 unidades <br>Display: 12 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/colgate/8.png" alt="">
                    <div class="dish-info">
                        <h6>MentaAnticaries Blanca 150ml Jumbo
                            <br>
                            <br>
                            <p>Caja: 48 unidades <br>Display: 12 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/colgate/9.png" alt="">
                    <div class="dish-info">
                        <h6>Crema D. Total Mint <br> Clean 75ml
                            <br>
                            <br>
                            <p>Caja: 72 unidades <br>.</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/colgate/10.png" alt="">
                    <div class="dish-info">
                        <h6>Crema D. Total Mint <br> Clean 150ml
                            <br>
                            <br>
                            <p>Caja: 72 unidades <br>.</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/colgate/11.png" alt="">
                    <div class="dish-info">
                        <h6>Crema D. Total Mint <br> Clean 75ml Pack
                            <br>
                            <br>
                            <p>Caja: 24 pack <br> 3 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/colgate/12.png" alt="">
                    <div class="dish-info">
                        <h6>Crema D. Total Salud <br> Visible 3x75ml
                            <br>
                            <br>
                            <p>Caja: 24 pack <br> 3 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/colgate/13.png" alt="">
                    <div class="dish-info">
                        <h6>Crema. Total Profesional <br> Encias Saludable 75ml
                            <br>
                            <br>
                            <p>Caja: 48 unidades <br>. </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/colgate/14.png" alt="">
                    <div class="dish-info">
                        <h6>Crema D. Sensitive <br> Original 75ml
                            <br>
                            <br>
                            <p>Caja: 12 unidades <br> .</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/colgate/15.png" alt="">
                    <div class="dish-info">
                        <h6>Crema D. Luminous <br> White Brillante 125ml
                            <br>
                            <br>
                            <p>Caja: 48 unidades <br> .</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/colgate/16.png" alt="">
                    <div class="dish-info">
                        <h6>Kids Gel 50grs <br> Tutifrutti 6años +
                            <br>
                            <br>
                            <p>Caja: 72 unidades <br> surtido </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/colgate/17.png" alt="">
                    <div class="dish-info">
                        <h6>Kids Smiles 75ml <br> 2-5 años
                            <br>
                            <br>
                            <p>Caja: 12 unidades <br> surtido </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/colgate/18.png" alt="">
                    <div class="dish-info">
                        <h6>Kids Smiles 75ml <br> Minions 6años +
                            <br>
                            <br>
                            <p>Caja: 12 unidades <br>.</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/colgate/19.png" alt="">
                    <div class="dish-info">
                        <h6>Enjuage Bucal Plax
                            <br> Ice Infinity 180ml
                            <br>
                            <br>
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/colgate/20.png" alt="">
                    <div class="dish-info">
                        <h6>Enjuague Bucal Plax <br> Ice Glacial 500ml

                            <br>
                            <br>
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/colgate/21.png" alt="">
                    <div class="dish-info">
                        <h6>Enjuague Bucal Plax
                            <br> Luminous White 250ml

                            <br>
                            <br>
                            <p>Caja: 12 unidades <br>.</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/colgate/22.png" alt="">
                    <div class="dish-info">
                        <h6>Enjuague Bucal Plax <br> Kids Minions 250ml
                            <br>
                            <br>
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/colgate/23.png" alt="">
                    <div class="dish-info">
                        <h6>Hilo Dental Colgate Total
                            <br> 25m Fluor y Menta
                            <br>
                            <br>
                            <p>Caja: 24 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/colgate/24.png" alt="">
                    <div class="dish-info">
                        <h6>Hilo Dental Colgate Total 25m
                            <br>
                            <br>
                            <br>
                            <p>Caja: 24 unidades <br>.</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/colgate/25.png" alt="">
                    <div class="dish-info">
                        <h6>Slim Soft Blue 2x1
                            <br>
                            <br>
                            <br>
                            <p>Caja: 24 pares <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/colgate/26.png" alt="">
                    <div class="dish-info">
                        <h6>Slim Soft Advance 2x1
                            <br>
                            <br>
                            <br>
                            <p>Caja: 12 pares <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/colgate/27.png" alt="">
                    <div class="dish-info">
                        <h6>Max White 2x1 <br>
                            <br>
                            <br>
                            <p>Caja: 12 pares <br>.</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/colgate/28.png" alt="">
                    <div class="dish-info">
                        <h6>Cepillo D. 360 Suave<br>
                            <br>
                            <br>
                            <p>Caja: 72 pares <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/colgate/29.png" alt="">
                    <div class="dish-info">
                        <h6>360 Sorround Med. 2x1
                            <br>
                            <br>
                            <br>
                            <p>Caja: 12 pares<br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/colgate/30.png" alt="">
                    <div class="dish-info">
                        <h6>360 Luminous White 2x1
                            <br>
                            <br>
                            <br>
                            <p>Caja: 12 pares <br>.</p>
                        </h6>
                    </div>
                </div>
            </div>



            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/colgate/34.png" alt="">
                    <div class="dish-info">
                        <h6>Triple Accion 2x1
                            <br>
                            <br>
                            <br>
                            <p>Caja: 12 pares <br>
                        </h6>
                    </div>
                </div>
            </div>


            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/colgate/35.png" alt="">
                    <div class="dish-info">
                        <h6>Twister Porta Cabezas 2x1
                            <br>
                            <br>
                            <br>
                            <p>Caja: 12 pares
                                <br> </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/colgate/36.png" alt="">
                    <div class="dish-info">
                        <h6>Extra Clean 2x1
                            <br>
                            <br>
                            <br>
                            <p>Caja: 48pares
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/colgate/37.png" alt="">
                    <div class="dish-info">
                        <h6>Cepillo Adulto Primier <br> Clean
                            <br>
                            <br>
                            <br>
                            <p>Lamina: 12unidades<br> Caja: 12 Laminas

                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/colgate/38.png" alt="">
                    <div class="dish-info">
                        <h6>Cepillo D. Kids Value <br> 2 años +
                            <br>
                            <br>
                            <p>Display: 12 unidades <br> Caja: 6 display </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/colgate/39.png" alt="">
                    <div class="dish-info">
                        <h6>Cepillo D. Kids Smile<br> 6años +
                            <br>
                            <br>
                            <p>Caja: 24 unidades <br>surtido</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/colgate/40.png" alt="">
                    <div class="dish-info">
                        <h6>Cepillo D. Kids Smiles <br> Minions 6años +
                            <br>
                            <br>
                            <p>Caja: 12 pares <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/colgate/41.png" alt="">
                    <div class="dish-info">
                        <h6>Cepillo D. Kids Smile<br> 2-5 años
                            <br>
                            <br>
                            <p>Caja: 24 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>