<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({{urlchocolates}}chocolateprincipal_bsy1zi)">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h2>Chocolates</h2>
                    <a [routerLink]="['/Producto']" id="menubtn" class="btn caviar-btn"><span></span>Productos</a>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="caviar-dish-menu clearfix" id="menu">
    <div class="container">
        <div class="row">
            <div class="col-12 menu-heading">
                <div class="section-heading text-center">
                    <br>
                    <br>
                    <br>
                    <h2>Chocolates</h2>
                </div>
            </div>
        </div>
        <div class="row  col-12">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlchocolates}}1_hzkgtv.png " alt="">
                    <div class="dish-info">
                        <h6>Denique Chocolate
                            <p>Corazon 3 Unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlchocolates}}2_lorrya.png" alt="">
                    <div class="dish-info">
                        <h6>Denique Chocolate
                            <p> Cajita 4 Unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlchocolates}}3_wpbxjq.png" alt="">
                    <div class="dish-info">
                        <h6>Denique Chocolate
                            <p> Corazon 8 Unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlchocolates}}4_trmyl7.png" alt="">
                    <div class="dish-info">
                        <h6> Denique Chocolate
                            <p>Corazon 5 Unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlchocolates}}5_xbr1b8.png" alt="">
                    <div class="dish-info">
                        <h6> Denique Chocolate
                            <p>Corazon 20 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlchocolates}}6_snlzzg.png" alt="">
                    <div class="dish-info">
                        <h6>Denique Chocolate
                            <p>Cajita 16 Unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlchocolates}}7_i0heca.png" alt="">
                    <div class="dish-info">
                        <h6><br> Denique Chocolate
                            <p><br>Estrella 5 Unidades</p>
                        </h6>

                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlchocolates}}8_kpzykn.png" alt="">
                    <div class="dish-info">
                        <h6>Denique Chocolate
                            <br>Especial estuche
                            <br> negro 750 cc
                            <p>Cajita: 24 Unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlchocolates}}9_gaz8kh.png" alt="">
                    <div class="dish-info">
                        <h6>Marshmallow
                            <br>Malvaviscos
                            <br>
                            <br>
                            <p>
                                <br></p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlchocolates}}10_irjuvc.png" alt="">
                    <div class="dish-info">
                        <h6>
                            <br>Burger
                            <br>
                            <p>Biskeyf
                                <br> </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlchocolates}}11_i9xivb.png" alt="">
                    <div class="dish-info">
                        <h6>Galleta recubierta
                            <br> de chocolate
                            <p>Sabor : Fresa
                                <br></p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlchocolates}}12_gayb8h.png" alt="">
                    <div class="dish-info">
                        <h6> Quipitos
                            <p>Display: 24unidades
                                <br>Caja: 24 display
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>