<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({{urlbebidas}}bebidasprincipal_k7ipen.png)">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h2>Bebebidas Frias</h2>
                    <a [routerLink]="['/Producto']" id="menubtn" class="btn caviar-btn"><span></span>Productos</a>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="caviar-dish-menu clearfix" id="menu">
    <div class="container">
        <div class="row">
            <div class="col-12 menu-heading">
                <div class="section-heading text-center">
                    <br>
                    <br>
                    <br>
                    <h2>Bebidas</h2>
                </div>
            </div>
        </div>
        <div class="row  col-12">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlbebidas}}1_w5c7gk.png" alt="">
                    <div class="dish-info">
                        <h6>Vive 100
                            <br>Borojo 475ml
                            <br>Tira 12 unidades
                            <p>Sixpack: 6 Unidades. </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlbebidas}}2_v1yf1e.png" alt="">
                    <div class="dish-info">
                        <h6>Vive 100
                            <br>Original 475ml
                            <br>Original 365ml
                            <p>Sixpack 6 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlbebidas}}3_rm9z74.png" alt="">
                    <div class="dish-info">
                        <h6><br>Saviloe
                            <br>con Aloe Vera 320ml
                            <br>
                            <p>Sixpack: 6 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlbebidas}}4_v4zroh.png" alt="">
                    <div class="dish-info">
                        <h6> Jugos Ya
                            <br>Display 10 Unidades
                            <br>
                            <p>Caja: 24 display <br></p>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>