<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../../assets/img/menu-img/papel/familia_principal.png)">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h2>Papel
                        <br>Pañitos
                        <br>Servilletas
                        <br>Toallas</h2>
                    <a href="#menu" id="menubtn" class="btn caviar-btn"><span></span> Inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="caviar-dish-menu clearfix" id="menu">
    <div class="container">
        <div class="row">
            <div class="col-12 menu-heading">
                <div class="section-heading text-center">
                    <br>
                    <br>
                    <br>
                    <h2>Papeleria</h2>
                </div>
            </div>
        </div>
        <div class="row  col-12">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/papel/1.png" alt="">
                    <div class="dish-info">
                        <h6>P.H. Megarrollo 48x1 Envoltura Individual
                            <br>
                            <p> Bulto: 48 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/papel/2.png" alt="">
                    <div class="dish-info">
                        <h6>P.H. Megarrollo 8x4
                            <br>
                            <br>
                            <p> Bulto: 8 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/papel/3.png" alt="">
                    <div class="dish-info">
                        <h6>P.H. Megarrollo 4x12

                            <br>
                            <br>
                            <p> Bulto: 4 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/papel/4.png" alt="">
                    <div class="dish-info">
                        <h6> P.H. Megarrollo 2x18
                            <br>
                            <br>
                            <br>
                            <p> Bulto: 2 paquetes <br> .</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/papel/5.png" alt="">
                    <div class="dish-info">
                        <h6> P.H. Megarrollo Pague 4 Lleve 6
                            <br>

                            <br>
                            <p>Bulto: 8paquetes de 6unidades c/u

                            </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/papel/6.png" alt="">
                    <div class="dish-info">
                        <h6> P.H. Expert 24x1 Envoltura
                            <br>
                            <br>
                            <br>
                            <p>Bulto: 4 paquetes <br> .
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/papel/7.png" alt="">
                    <div class="dish-info">
                        <h6> P.H. Expert 8x4

                            <br>
                            <br>
                            <p>Bulto: 8 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/papel/8.png" alt="">
                    <div class="dish-info">
                        <h6>P.H. Expert 2x12
                            <br>
                            <br>
                            <p>Bulto: 2 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/papel/9.png" alt="">
                    <div class="dish-info">
                        <h6>P.H. Extra Grande 12x4

                            <br>
                            <br>
                            <p>Bulto: 12 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="i../../../assets/img/menu-img/papel/10.png" alt="">
                    <div class="dish-info">
                        <h6>P.H. Extra Grande 4x12

                            <br>
                            <br>
                            <p>Bulto: 12 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="i../../../assets/img/menu-img/papel/11.png" alt="">
                    <div class="dish-info">
                        <h6>P.H. Extra Grande 2x18

                            <br>
                            <br>
                            <p>Bulto: 12 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="i../../../assets/img/menu-img/papel/12.png" alt="">
                    <div class="dish-info">
                        <h6>P.H. Grande 48x1

                            <br>
                            <br>
                            <p>Bulto: 48 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="i../../../assets/img/menu-img/papel/13.png" alt="">
                    <div class="dish-info">
                        <h6>P.H. Grande 12x4

                            <br>
                            <br>
                            <p>Bulto: 12 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="i../../../assets/img/menu-img/papel/15.png" alt="">
                    <div class="dish-info">
                        <h6>P.H. Grande 4x12

                            <br>
                            <br>
                            <p>Bulto: 4 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="i../../../assets/img/menu-img/papel/16.png" alt="">
                    <div class="dish-info">
                        <h6>P.H. Grande 8x6

                            <br>
                            <br>
                            <p>Bulto: 8 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="i../../../assets/img/menu-img/papel/14.png" alt="">
                    <div class="dish-info">
                        <h6>P.H. Green 8x4 / 27m / 4hojas

                            <br>
                            <br>
                            <p>Bulto: 8 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="i../../../assets/img/menu-img/papel/17.png" alt="">
                    <div class="dish-info">
                        <h6>P.H. Aroma max 48x1

                            <br>
                            <br>
                            <p>Bulto: 4paquetes </p>

                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="i../../../assets/img/menu-img/papel/18.png" alt="">
                    <div class="dish-info">
                        <h6>P.H. Aroma max 12x4

                            <br>
                            <br>
                            <p>Bulto: 4 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="i../../../assets/img/menu-img/papel/19.png" alt="">
                    <div class="dish-info">
                        <h6>P.H. Aroma max 8x6

                            <br>
                            <br>
                            <p>Bulto: 4 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="i../../../assets/img/menu-img/papel/20.png" alt="">
                    <div class="dish-info">
                        <h6>P.H. Aroma max 4x12

                            <br>
                            <br>
                            <p>Bulto: 4 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="i../../../assets/img/menu-img/papel/21.png" alt="">
                    <div class="dish-info">
                        <h6>P.H. Aroma max 2x18

                            <br>
                            <br>
                            <p>Bulto: 2 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="i../../../assets/img/menu-img/papel/22.png" alt="">
                    <div class="dish-info">
                        <h6>P.H. Institucional Jumbo 180mts

                            <br>
                            <br>
                            <p>Caja: 6 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="i../../../assets/img/menu-img/papel/23.png" alt="">
                    <div class="dish-info">
                        <h6>Servilleta Mediana <br> 45x100

                            <br>
                            <br>
                            <p>Caja: 45 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="i../../../assets/img/menu-img/papel/24.png" alt="">
                    <div class="dish-info">
                        <h6>Servilleta Mediana <br> 20x300

                            <br>
                            <br>
                            <p>Caja: 20 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="i../../../assets/img/menu-img/papel/25.png" alt="">
                    <div class="dish-info">
                        <h6>Servilleta Practica Diaria 60x70

                            <br>
                            <br>
                            <p>Caja: 60 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="i../../../assets/img/menu-img/papel/26.png" alt="">
                    <div class="dish-info">
                        <h6>Servilleta Practica Diaria 20x200

                            <br>
                            <br>
                            <p>Caja: 20 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="i../../../assets/img/menu-img/papel/27.png" alt="">
                    <div class="dish-info">
                        <h6>Servilleta Decorada <br> 36x100
                            <br>
                            <br>
                            <p>Caja: 36 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="i../../../assets/img/menu-img/papel/28.png" alt="">
                    <div class="dish-info">
                        <h6>Servilleta Decorada <br> 18x200

                            <br>
                            <br>
                            <p>Caja: 18 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="i../../../assets/img/menu-img/papel/29.png" alt="">
                    <div class="dish-info">
                        <h6>Servilleta Normal <br> 36x100

                            <br>
                            <br>
                            <p>Caja: 36 paquetes</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="i../../../assets/img/menu-img/papel/30.png" alt="">
                    <div class="dish-info">
                        <h6>Servilleta Normal <br> 18x200

                            <br>
                            <br>
                            <p>Caja: 18 paquetes</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="i../../../assets/img/menu-img/papel/31.png" alt="">
                    <div class="dish-info">
                        <h6>Servilleta Normal <br> 8x350

                            <br>
                            <br>
                            <p>Caja: 8 paquetes</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="i../../../assets/img/menu-img/papel/32.png" alt="">
                    <div class="dish-info">
                        <h6>T.C. Megarrollo <br> 3/1 -120h

                            <br>
                            <br>
                            <p>Caja: 12 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="i../../../assets/img/menu-img/papel/33.png" alt="">
                    <div class="dish-info">
                        <h6>T.C. Extragrande <br> 2/1- 80h

                            <br>
                            <br>
                            <p>Caja: 12 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="i../../../assets/img/menu-img/papel/34.png" alt="">
                    <div class="dish-info">
                        <h6>T.C. Practica Diaria Jumbo

                            <br>
                            <br>
                            <p>Bulto: 24 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="i../../../assets/img/menu-img/papel/35.png" alt="">
                    <div class="dish-info">
                        <h6>T.C. Practica Diaria 4x6

                            <br>
                            <br>
                            <p>Caja: 24 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="i../../../assets/img/menu-img/papel/36.png" alt="">
                    <div class="dish-info">
                        <h6>Basica Alas 12x42

                            <br>
                            <br>
                            <p>Bulto: 12 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="i../../../assets/img/menu-img/papel/37.png" alt="">
                    <div class="dish-info">
                        <h6>Basica Alas 24x10

                            <br>
                            <br>
                            <br>
                            <p>Bulto: 12 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="i../../../assets/img/menu-img/papel/38.png" alt="">
                    <div class="dish-info">
                        <h6>Invisible Clasica Delgada 36x10

                            <br>
                            <br>
                            <p>Bulto: 36 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="i../../../assets/img/menu-img/papel/39.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante 24x10
                            <br>
                            <br>
                            <br>
                            <p>Bulto: 24 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="i../../../assets/img/menu-img/papel/40.png" alt="">
                    <div class="dish-info">
                        <h6>Invisible Rapigel 24x10
                            <br>
                            <br>
                            <br>
                            <p>Bulto: 24 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="i../../../assets/img/menu-img/papel/41.png" alt="">
                    <div class="dish-info">
                        <h6>Plus Rapisec 24x10
                            <br>
                            <br>
                            <br>
                            <p>Bulto: 24 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="i../../../assets/img/menu-img/papel/42.png" alt="">
                    <div class="dish-info">
                        <h6>Buenas Noches Eco Pack 6x24
                            <br>
                            <br>
                            <p>Bulto: 6 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="i../../../assets/img/menu-img/papel/43.png" alt="">
                    <div class="dish-info">
                        <h6>Buenas Noches 18x10
                            <br>
                            <br>
                            <br>
                            <p>Bulto: 18 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="i../../../assets/img/menu-img/papel/44.png" alt="">
                    <div class="dish-info">
                        <h6>Invisible Buenas Noches 12x8

                            <br>
                            <br>
                            <p>Bulto: 12 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="i../../../assets/img/menu-img/papel/45.png" alt="">
                    <div class="dish-info">
                        <h6>P. Diario 48x10
                            <br>
                            <br>
                            <br>
                            <p>Bulto: 48 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="i../../../assets/img/menu-img/papel/46.png" alt="">
                    <div class="dish-info">
                        <h6>P. Diario 36x15

                            <br>
                            <br>
                            <p>Bulto: 36 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="i../../../assets/img/menu-img/papel/47.png" alt="">
                    <div class="dish-info">
                        <h6>P. Diario 12x120

                            <br>
                            <br>
                            <p>Bulto: 12 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="i../../../assets/img/menu-img/papel/48.png" alt="">
                    <div class="dish-info">
                        <h6>Normal Antojo 12x60

                            <br>
                            <br>
                            <p>Bulto: 12 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="i../../../assets/img/menu-img/papel/49.png" alt="">
                    <div class="dish-info">
                        <h6>Diario Largos <br> 48x10

                            <br>
                            <br>
                            <p>Bulto: 48 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="i../../../assets/img/menu-img/papel/50.png" alt="">
                    <div class="dish-info">
                        <h6>Diario Desodorante <br> 36x15

                            <br>
                            <br>
                            <p>Bulto: 36 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="i../../../assets/img/menu-img/papel/51.png" alt="">
                    <div class="dish-info">
                        <h6>Diario Multiestilo <br> 24x15

                            <br>
                            <br>
                            <p>Bulto: 24 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="i../../../assets/img/menu-img/papel/52.png" alt="">
                    <div class="dish-info">
                        <h6>Diario Multiestilo <br> 12x60

                            <br>
                            <br>
                            <p>Bulto: 24 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="i../../../assets/img/menu-img/papel/53.png" alt="">
                    <div class="dish-info">
                        <h6>Diario Multiestilo <br> 10x150

                            <br>
                            <br>
                            <p>Bulto: 24 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="i../../../assets/img/menu-img/papel/54.png" alt="">
                    <div class="dish-info">
                        <h6>P. Diario Dobles <br> Multiestilo 12x25

                            <br>
                            <br>
                            <p>Bulto: 12 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="i../../../assets/img/menu-img/papel/55.png" alt="">
                    <div class="dish-info">
                        <h6>P. Diario Dobles <br> Multiestilo 12x50

                            <br>
                            <br>
                            <p>Bulto: 12 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="i../../../assets/img/menu-img/papel/56.png" alt="">
                    <div class="dish-info">
                        <h6>P. Nat.Lactancia <br> Respirable 12x12

                            <br>
                            <br>
                            <p>Bulto: 12 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="i../../../assets/img/menu-img/papel/57.png" alt="">
                    <div class="dish-info">
                        <h6>P. Nat. Lactancia <br> Respirable 12x40

                            <br>
                            <br>
                            <p>Bulto: 12 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="i../../../assets/img/menu-img/papel/58.png" alt="">
                    <div class="dish-info">
                        <h6>Aloe Natural 24x24

                            <br>
                            <br>
                            <p>Caja: 24 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="i../../../assets/img/menu-img/papel/59.png" alt="">
                    <div class="dish-info">
                        <h6>Aloe Natural 24x50

                            <br>
                            <br>
                            <p>Caja: 24 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="i../../../assets/img/menu-img/papel/60.png" alt="">
                    <div class="dish-info">
                        <h6>Aloe Natural 12x120

                            <br>
                            <br>
                            <p>Caja: 24 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="i../../../assets/img/menu-img/papel/61.png" alt="">
                    <div class="dish-info">
                        <h6>Original 24x24

                            <br>
                            <br>
                            <p>Caja: 24 paquetes</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="i../../../assets/img/menu-img/papel/62.png" alt="">
                    <div class="dish-info">
                        <h6>Original 24x60

                            <br>
                            <br>
                            <p>Caja: 24 paquetes</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="i../../../assets/img/menu-img/papel/63.png" alt="">
                    <div class="dish-info">
                        <h6>Original 12x120

                            <br>
                            <br>
                            <p>Caja: 12 paquetes</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="i../../../assets/img/menu-img/papel/64.png" alt="">
                    <div class="dish-info">
                        <h6>T. Humedas Pequeñin Antibacterial 12x40

                            <br>
                            <br>
                            <p>Caja: 12 paquetes</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="i../../../assets/img/menu-img/papel/65.png" alt="">
                    <div class="dish-info">
                        <h6>Paños Humedas Familia Antibacterial 12x40

                            <br>
                            <br>
                            <p>Caja: 12 paquetes</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="i../../../assets/img/menu-img/papel/66.png" alt="">
                    <div class="dish-info">
                        <h6>T. Humedas Familia Desinfectante 12x40

                            <br>
                            <br>
                            <p>Caja: 12 paquetes</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="i../../../assets/img/menu-img/papel/67.png" alt="">
                    <div class="dish-info">
                        <h6>Pañales R. Nacido. 8x30

                            <br>
                            <br>
                            <p>Bulto: 8 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="i../../../assets/img/menu-img/papel/68.png" alt="">
                    <div class="dish-info">
                        <h6>Pañales Etapa 1/8x28

                            <br>
                            <br>
                            <p>Bulto: 8 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="i../../../assets/img/menu-img/papel/69.png" alt="">
                    <div class="dish-info">
                        <h6>Pañales Etapa 1/4x56

                            <br>
                            <br>
                            <p>Bulto: 8 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="i../../../assets/img/menu-img/papel/70.png" alt="">
                    <div class="dish-info">
                        <h6>Pañales P. Etapa 2/8x24
                            <br>
                            <br>
                            <p>Bulto: 8 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="i../../../assets/img/menu-img/papel/71.png" alt="">
                    <div class="dish-info">
                        <h6>Pañales P. Etapa 2/4x48
                            <br>
                            <br>
                            <p>Bulto: 4 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="i../../../assets/img/menu-img/papel/72.png" alt="">
                    <div class="dish-info">
                        <h6>Pañales P. Etapa 2/2x96

                            <br>
                            <br>
                            <p>Bulto: 2 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="i../../../assets/img/menu-img/papel/73.png" alt="">
                    <div class="dish-info">
                        <h6>Pañales P. Etapa 3/8x20

                            <br>
                            <br>
                            <p>Bulto: 8 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="i../../../assets/img/menu-img/papel/74.png" alt="">
                    <div class="dish-info">
                        <h6>Pañales P. Etapa 3/4x40

                            <br>
                            <br>
                            <p>Bulto: 4 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="i../../../assets/img/menu-img/papel/75.png" alt="">
                    <div class="dish-info">
                        <h6>Pañales P. Etapa 3/2x100

                            <br>
                            <br>
                            <p>Bulto: 2 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="i../../../assets/img/menu-img/papel/76.png" alt="">
                    <div class="dish-info">
                        <h6>Pañales P. Etapa 4/4x36

                            <br>
                            <br>
                            <p>Bulto: 4 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="i../../../assets/img/menu-img/papel/77.png" alt="">
                    <div class="dish-info">
                        <h6>Pañales P. Etapa 4/2x100

                            <br>
                            <br>
                            <p>Bulto: 2 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="i../../../assets/img/menu-img/papel/78.png" alt="">
                    <div class="dish-info">
                        <h6>Pañales P. Etapa 5/8x16

                            <br>
                            <br>
                            <p>Bulto: 8 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="i../../../assets/img/menu-img/papel/79.png" alt="">
                    <div class="dish-info">
                        <h6>Pañales P. Etapa 5/4x32

                            <br>
                            <br>
                            <p>Bulto: 4 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="i../../../assets/img/menu-img/papel/80.png" alt="">
                    <div class="dish-info">
                        <h6>Pañales P. Etapa 5/2x64

                            <br>
                            <br>
                            <p>Bulto: 2 paquetes </p>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>