<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../../assets/img/museo-img/portada.png)">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content"></div>
            </div>
        </div>
    </div>
</div>
<section class="caviar-regular-page section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="regular-page-content">
                    <div class="post-title">
                        <h1 style="text-align: center;">Martinez e Hijos a lo largo de los años de servicio hemos venido trabajando con articulos que hoy en dia son consideradas antiguedades </h1>
                    </div>
                </div>
                <div class="container gallery-container">

                    <div class="tz-gallery">

                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="../../../assets/img/museo-img/aguila.png">
                                    <img src="../../../assets/img/museo-img/aguila.png" alt="aguila">
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="../../../assets/img/museo-img/chocolate.png">
                                    <img src="../../../assets/img/museo-img/chocolate.png" alt="chocolate">
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <a class="lightbox" href="../../../assets/img/museo-img/galletas.png">
                                    <img src="../../../assets/img/museo-img/galletas.png" alt="huevitos">
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="../../../assets/img/museo-img/galletas2.png">
                                    <img src="../../../assets/img/museo-img/galletas2.png" alt="maleta">
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="../../../assets/img/museo-img/galletas3.png">
                                    <img src="../../../assets/img/museo-img/galletas3.png" alt="Rails">
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="../../../assets/img/museo-img/huevitos.png">
                                    <img src="../../../assets/img/museo-img/huevitos.png" alt="Traffic">
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="../../../assets/img/museo-img/maleta.png">
                                    <img src="../../../assets/img/museo-img/maleta.png" alt="Rocks">
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="../../../assets/img/museo-img/maleta2.png">
                                    <img src="../../../assets/img/museo-img/maleta2.png" alt="Benches">
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <a class="lightbox" href="../../../assets/img/museo-img/maleta3.png">
                                    <img src="../../../assets/img/museo-img/maleta3.png" alt="Sky">
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>