<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({{urlagripac}}agripacprincipal_zkdn3p.png)">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h2>Mascotas</h2>
                    <a [routerLink]="['/Producto']" id="menubtn" class="btn caviar-btn"><span></span>Productos</a>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="caviar-dish-menu clearfix" id="menu">
    <div class="container">
        <div class="row">
            <div class="col-12 menu-heading">
                <div class="section-heading text-center">
                    <br>
                    <br>
                    <br>
                    <h2>Productos Agripac</h2>
                </div>
            </div>
        </div>
        <div class="row  col-12">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlagripac}}1_nqepb3.png" alt="">
                    <div class="dish-info">
                        <h6><br>Michu Sabor a Pollo
                            <p>Presentaciones:
                                <br>Paca:<br> 24 unidades / 450grm
                                <br>Paca:<br>12 unidades / 2 kilos
                                <br>
                                <br>
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlagripac}}2_pzpkz3.png" alt="">
                    <div class="dish-info">
                        <h6>Michu Sabor Delicias <br>del Mar
                            <p>Presentaciones:
                                <br>Paca:<br> 24 unidades / 450 grm
                                <br>Paca:<br>12 unidades / <br>2 kilos 8 kilos 18 kilos
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlagripac}}3_iiy1mb.png" alt="">
                    <div class="dish-info">
                        <h6><br>Michu Sabor a Carne
                            <p>Presentaciones:
                                <br>Paca:<br> 24 unidades / 450grm
                                <br>Paca:<br>12 unidades / 2 kilos 8kilos
                                <br>
                                <br>
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlagripac}}4_qs07ru.png" alt="">
                    <div class="dish-info">
                        <h6> NutraPro Adulto Razas Medianas y Grandes
                            <p><br>Presentaciones:<br> 2 kilos / 7.5 kilos / 20 kilos </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlagripac}}5_x4p8dl.png" alt="">
                    <div class="dish-info">
                        <h6> NutraPro Adulto Razas
                            <br> Pequeñas y Miniaturas
                            <p>Presentaciones:<br>
                                <br>2 kilos / 4 kilos
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlagripac}}6_urys28.png" alt="">
                    <div class="dish-info">
                        <h6>NutraPro Cachorro Razas
                            <br> Medianas y Grandes
                            <p>Presentaciones:
                                <br>2 kilos / 4 kilos <br> 7.5 kilos / 20 kilos
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlagripac}}7_xlovrh.png" alt="">
                    <div class="dish-info">
                        <h6>NutraPro Cachorro Razas
                            <br>Pequeñas y Miniaturas
                            <p>Presentaciones:
                                <br>2 kilos / 4 kilos
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlagripac}}8_y5xtef.png" alt="">
                    <div class="dish-info">
                        <h6><br>NutraPro Gatos y Gatitos<br>
                            <p>Presentaciones:
                                <br>450 gramos, 2 kilos
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlagripac}}9_qnlqgb.png" alt="">
                    <div class="dish-info">
                        <h6><br>NutraPro Vitality
                            <p>Presentaciones:
                                <br>450 gramos / 2 kilos
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlagripac}}10_xdw8rm.png" alt="">
                    <div class="dish-info">
                        <h6>
                            <br>NutraPro Gatos y Gatitos
                            <p>7,5k</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlagripac}}11_jfqgkm.png" alt="">
                    <div class="dish-info">
                        <h6><br>NutraPro Arena 4 kilos

                            <p>Paca: 5 fundas</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlagripac}}12_cbhwuc.png" alt="">
                    <div class="dish-info">
                        <h6>NutraPro Arena<br> Manzana Verde 4 kilos
                            <p>Paca: 6 fundas</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlagripac}}13_armscn.png" alt="">
                    <div class="dish-info">
                        <h6>Buencan Adulto Pollo<br>Razas Mediana y Grande
                            <p>Presentaciones:
                                <br> 450 grs (Paca 24 unidades)
                                <br> 2 kilos (Paca 12 unidades)
                                <br> 4 kilos (Paca 6 unidades)
                                <br>8 kilos / 15 kilos / 30 kilos
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlagripac}}14_awqpx3.png" alt="">
                    <div class="dish-info">
                        <h6>Buencan Adulto Carne
                            <br>Razas Mediana / Grande
                            <p>
                                <br>Presentaciones:
                                <br> 2kilos (Paca 12 unidades)
                                <br> 4kilos (Paca 6 unidades)
                                <br> 8kilos / 30kilos
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlagripac}}15_nzmw3j.png" alt="">
                    <div class="dish-info">
                        <h6>Buencan Adulto Pollo<br><br> Razas:<br> <br>Pequeña / Mediana
                            <p>Presentaciones:
                                <br> 2kilos (Paca 12 unid.)
                                <br> 4kilos (Paca 6 unid.)
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlagripac}}16_bghvj5.png" alt="">
                    <div class="dish-info">
                        <h6>Buencan Cachorro<br> Pollo y Yogurt <br> Razas Mediana / Grande
                            <p> Presentaciones :
                                <br>450 grs (Paca 24 unidades)
                                <br>2 kilos (Paca 12 unidades)
                                <br>4 kilos (Paca 6 unidades)
                                <br>8kilos / 30kilos
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlagripac}}17_xpwe4e.png" alt="">
                    <div class="dish-info">
                        <h6><br>Buencan Cachorro <br>Pollo y Yogurt<br> Razas Pequeña / Mediana
                            <p> <br>Presentaciones: <br>4 kilos (Paca 6 unides)
                                <br>15 kilos
                                <br>
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlagripac}}18_b1wtob.png" alt="">
                    <div class="dish-info">
                        <h6><br><br>Alcon sabor a pollo cachorros.
                            <br>
                            <br>
                            <br><br>
                            <p>Contenido : 30 kg<br><br>
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
            <!--  <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="{{urlagripac}}19_hv1ibi.png" alt="">
                    <div class="dish-info">
                        <h6>Raticida Klerat Pellets
                            <br>
                            <br>
                            <p>Display: 6unidades Caja: 20display (120unid.)
                                <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlagripac}}20_n3zmku.png" alt="">
                    <div class="dish-info">
                        <h6>Klerat Gel Hormigas
                            <br>
                            <br>
                            <p>Cajita: 10grs
                                <br>Caja: 10 cajitas
                                <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="{{urlagripac}}21_ztouqh.png" alt="">
                    <div class="dish-info">
                        <h6>INSECTICIDA DRAGON
                            <p>Presentaciones:
                                <br>Atom. 475cc<br> Caja: 24 unidades
                                <br>Repuesto 230cc<br> Caja: 60 unidades
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="{{urlagripac}}22_j64qrm.png" alt="">
                    <div class="dish-info">
                        <h6>INSECTICIDA DRAGON
                            <p>Repuesto 475cc
                                <br>Caja: 30unidades
                                <br>Repuesto 950cc
                                <br>Caja: 20unidades
                            </p>
                        </h6>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>