<section class="caviar-about-us-area section-padding-150" id="about" style="background-color: #E7E7E7">
    <div class="container">
        <!-- About Us Single Area -->
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/bg-img/Martinez2.png" alt="logo Martinez.png">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 ml-md-auto">
                <div class="section-heading">
                    <h2>Martínez & Hijos CÍA.LTDA </h2>
                </div>
                <div class="about-us-content">
                    <span>La EMPRESA</span>
                    <p>Somos una empresa Ecuatoriana con sede principal en Cuenca, tenemos 43 años en la comercialización de productos de consumo masivo. Opera en Comerciantes al por Mayor de Bienes No Duraderos Diversos industria. La empresa fue fundada
                        en 23 de enero de 1978. Actualmente emplea a 25 (2021) personas.
                    </p>
                </div>
            </div>
        </div>
        <!-- About Us Single Area -->
        <div class="about-us-second-part">
            <div class="row align-items-center pt-200">
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="about-us-content">
                        <span>Sede</span>
                        <p>
                            Actualmente y desde abril del 2001, Martínez & hijos presta sus servicios a todos sus clientes, desde un amplio, cómodo y moderno local, ubicado en la Hurtado de Mendoza 11-46 y Paseo de los Cañaris.
                            <br> Area del Local total : 5.000.00 Mts (propio de la Cía) Con Oficinas, Bodegas, Parqueo de Carga y Descarga

                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 ml-md-auto">
                    <div class="about-us-thumbnail wow fadeInUp" data-wow-delay="0.5s">
                        <img src="../../../assets/img/bg-img/empresa.png" alt="empresa fisica">
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center pt-200">
            <div class="col-12 col-md-6">
                <div class="wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/bg-img/bodega.jpeg" alt="logo Martinez.png">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 ml-md-auto">
                <div class="about-us-content">
                    <br>
                    <span>Mision</span>
                    <p>Somos una empresa Ecuatoriana con sede principal en Cuenca, tenemos 43 años en la comercialización de productos de consumo masivo. Opera en Comerciantes al por Mayor de Bienes No Duraderos Diversos industria. La empresa fue fundada
                        en 23 de enero de 1978. Actualmente emplea a 25 (2021) personas.
                    </p>
                    <br>
                    <span>Vision</span>
                    <p>
                        Crear una estrategia de Servicio al Cliente y desarrollar políticas con un fin social que le permitan a la organización crecer de manera sostenida hasta ubicarse como líder en el mercado.
                    </p>
                </div>
            </div>
        </div>
        <div class="about-us-second-part">
            <div class="row align-items-center pt-200">
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="about-us-content">
                        <span>Equipo de trabajo</span>
                        <p>
                            Contamos con un talento comprometido y emprendedor. Promovemos un entorno de trabajo basado en la igualdad de oportunidades, la diversidad y la inclusión, e impulsamos formas de trabajo que faciliten el equilibrio entre la vida personal y la profesional.
                            <br>Nuestro equipo comprende las áreas de:
                            <br>Administración
                            <br>Ventas Multimarcas
                            <br>Bodega
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 ml-md-auto">
                    <div class="wow fadeInUp">
                        <div class="slider">
                            <ul>
                                <li><img src="../../../assets/img/bg-img/personal/ventas2.jpg" style="height: 506px !important; width: 940px !important;" alt="equipo de ventas" />
                                    <p style="text-align: center; font-weight: bolder;">Equipo de Ventas</p>
                                </li>
                                <li><img src="../../../assets/img/bg-img/personal/bodega.png" alt="equipo de bodega" />
                                    <p style="text-align: center; font-weight: bolder;">Equipo de Bodega</p>
                                </li>
                                <li><img src="../../../assets/img/bg-img/personal/administracion.png" alt="personal" />
                                    <p style="text-align: center; font-weight: bolder;">Administracion</p>
                                </li>
                                <li><img src="../../../assets/img/bg-img/personal/personal.jpg" style="height: 506px !important; width: 940px !important;" alt="personal" />
                                    <p style="text-align: center; font-weight: bolder;">Personal</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>