<header class="header_area" id="header">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 h-100">
                <nav class="h-100 navbar navbar-expand-lg align-items-center">
                    <a class="navbar-brand logo" href="#body">
                        <!-- <img src="images/logo.png" alt="Website Logo" /> -->
                        <img src="../../../assets/img/martinez.png" style="width: 210px !important; height: 175px i !important;" />
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#caviarNav" aria-controls="caviarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
                    <div class="collapse navbar-collapse" id="caviarNav">
                        <ul class="navbar-nav ml-auto" id="caviarMenu">

                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">Inicio <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Empresa</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" [routerLink]="['/Nosotros']">Nosotros</a>
                                    <a class="dropdown-item" [routerLink]="['/mhgroup']">MHGROUP</a>
                                    <!--  <a class="dropdown-item" href="regular-page.html">Productos</a>
                                    <a class="dropdown-item" href="contact.html">Contact</a>
                                    <a class="dropdown-item" href="contact.html">Marcas</a> -->
                                </div>
                            </li>
                            <li class="nav-item">
                                <!--  <a class="nav-link" href="#about">Empresa</a> -->
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Historia</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" [routerLink]="['/historia']">Reseña </a>
                                    <a class="dropdown-item" [routerLink]="['/museo']">Museo Digital</a>
                                    <!--  <a class="dropdown-item" href="regular-page.html">Productos</a>
                                    <a class="dropdown-item" href="contact.html">Contact</a>
                                    <a class="dropdown-item" href="contact.html">Marcas</a> -->
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/Producto']">Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#reservation">Noticias</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [routerLink]="['/contacto']">Contactos</a>
                            </li>
                        </ul>


                        <!-- Search Btn -->
                        <div class="caviar-search-btn">
                            <a id="search-btn" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- </header> -->
    <div class="caviar-search-form d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-close-btn" id="closeBtn">
                        <i class="pe-7s-close-circle" aria-hidden="true"></i>
                    </div>
                    <form action="#" method="get">
                        <input type="search" name="caviarSearch" id="search" placeholder="Search Your Favourite Dish ...">
                        <input type="submit" class="d-none" value="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>