<section class="caviar-about-us-area section-padding-150" id="about">
    <div class="container">
        <!-- About Us Single Area -->
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="about-us-thumbnail wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/bg-img/Emilio.png" style="height: 500px !important; width: 550px !important;">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 ml-md-auto">
                <div class="section-heading">
                    <h2>La Empresa</h2>
                </div>
                <div class="about-us-content">
                    <span>Creacion</span>
                    <p>Martínez & Hijos Cia. Ltda. Surgió como iniciativa del socio fundador, Sr. Emilio Martínez y su esposa, él cual se desempeñaba, hasta ese momento como agente vendedor de productos de consumo masivo de la “Universal”.
                        <br>Se constituye el 9 de Enero de 1978, ante el notario Dr. Rubén Vintimilla Bravo y se inscribe en el registro mercantil el 23 de Enero de 1978. La compañía esta domiciliada en la ciudad de Cuenca, provincia del Azuay.</p>
                </div>
            </div>
        </div>
        <!-- About Us Single Area -->
        <div class="about-us-second-part">
            <div class="row align-items-center pt-200">
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="about-us-content">
                        <span>our chef</span>
                        <p>Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor. Integer molestie rhoncus nisi a euismod. Etiam scelerisque eu enim et vestibulum. Mauris finibus, eros a faucibus varius,
                            dui risus mattis massa, sed lobortis ante ante eget justo.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 ml-md-auto">
                    <div class="about-us-thumbnail wow fadeInUp" data-wow-delay="0.5s">
                        <img src="img/bg-img/about-2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>