<section class="caviar-about-us-area section-padding-150" id="about" style="background-color: #E7E7E7">
    <div class="container">
        <!-- About Us Single Area -->
        <div class="row align-items-center ">
            <div class="col-12 col-md-6">
                <div class="slider">
                    <ul>
                        <li>
                            <img src="{{urlhistoria}}Emilio_hmsgwm.png" style="height: 450px !important; width: 560px !important;">
                        </li>
                        <li>
                            <img src="{{urlhistoria}}creacion2_wmhnib.jpg" style="height: 450px !important; width: 560px !important;">
                        </li>
                        <li>
                            <img src="{{urlhistoria}}creacion3_idpr2v.jpg" style="height: 450px !important; width: 560px !important;">
                        </li>
                        <li>
                            <img src="{{urlhistoria}}creacion4_ktwfwp.jpg" style="height: 450px !important; width: 560px !important;">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
                <div class="section-heading">
                    <h2>1978</h2>
                </div>
                <div class="about-us-content">
                    <span>Creacion</span>
                    <p>Martínez & Hijos Cia. Ltda. Surgió como iniciativa del socio fundador, Sr. Emilio Martínez y su esposa, él cual se desempeñaba, hasta ese momento como agente vendedor de productos de consumo masivo de la “Universal”.
                        <br>Se constituye el 9 de Enero de 1978, ante el notario Dr. Rubén Vintimilla Bravo y se inscribe en el registro mercantil el 23 de Enero de 1978. La compañía esta domiciliada en la ciudad de Cuenca, provincia del Azuay.</p>
                </div>
            </div>
        </div>
        <!-- About Us Single Area -->
        <div class="about-us-second-part">
            <div class="row align-items-center pt-200">
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="section-heading">
                        <h2>1984</h2>
                    </div>
                    <div class="about-us-content">
                        <span>Inicios</span>
                        <p>La Compañía se inició en el domicilio del Sr. Emilio Martínez, ubicado en la calle Tarqui 11-41; para febrero de 1978 se inaugura el primer local propio, en la calle vieja 7-96 entre Héroes de Verdeloma y Armenillas. En julio de
                            1984, Martínez & hijos pasa a laborar en el local adjunto también de su propiedad.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 ml-md-auto">
                    <div class="slider">
                        <ul>
                            <li>
                                <img src="{{urlhistoria}}primerLocal_vkvpis.jpg" style="height: 450px !important; width: 560px !important;" alt="">
                            </li>
                            <li>
                                <img src="{{urlhistoria}}primerlocal2_asyzsj.jpg" style="height: 450px !important; width: 560px !important;" alt="">
                            </li>
                            <li>
                                <img src="{{urlhistoria}}prmierlocal3_wf7ask.jpg" style="height: 450px !important; width: 560px !important;" alt="">
                            </li>
                            <li>
                                <img src="{{urlhistoria}}primerlocal4_k9df1g.jpg" style="height: 450px !important; width: 560px !important;" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center pt-200">
            <div class="col-12 col-md-6">
                <div class="slider">
                    <ul>
                        <li>
                            <img src="{{urlhistoria}}reunion_ukrjsk.jpg" style="height: 450px !important; width: 560px !important; margin: auto;">
                        </li>
                        <li>
                            <img src="{{urlhistoria}}reunion2_g78o4d.jpg" style="height: 450px !important; width: 560px !important; margin: auto;">
                        </li>
                        <li>
                            <img src="{{urlhistoria}}reunion3_hpsd4h.jpg" style="height: 450px !important; width: 560px !important; margin: auto;">
                        </li>
                        <li>
                            <img src="{{urlhistoria}}reunion4_oqihc1.jpg" style="height: 450px !important; width: 560px !important; margin: auto;">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
                <div class="section-heading">
                    <h2>1996</h2>
                </div>
                <div class="about-us-content">
                    <span>Capital</span>
                    <p> La compañía inicialmente tuvo un plazo de duración de 25 años, contados a partir de la fecha de inscripción de la escritura. Se constituye con 520000 sucres el mismo que arrancó pagado en su totalidad. El 29 de agosto de 1996 se inscribe
                        nuevamente en el registro mercantil el aumento de capital de la compañía y la prorroga de plazo de duración por 25 años más. Se han realizado algunos aumentos de capital y por consiguiente reforma a los estatutos, siendo el último
                        aumento de capital en junio del 2002, mediante escritura pública se procede a elevar su capital social tomado de la reserva legal, facultativa, estatutaria y de capital.</p>
                </div>
            </div>
        </div>
        <div class="about-us-second-part">
            <div class="row align-items-center pt-200">
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="section-heading">
                        <h2>2005</h2>
                    </div>
                    <div class="about-us-content">
                        <span>Acciones</span>
                        <p>En febrero del 2005, mediante escritura pública se transfiere las aportaciones del Sr. Emilio Martínez por su fallecimiento a su esposa e hijos.
                            <br> Han sido 43 años de arduo camino, lleno de desafíos, aciertos y contrariedades, pero siempre trabajando por llegar a cumplir el objetivo y sentirse más identificados con el lema de la compañía:<br><b style="text-align: center;">“La excelencia es nuestra
                            pasión” </b> </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 ml-md-auto">

                    <div class="slider">
                        <ul>
                            <li>
                                <img src="{{urlhistoria}}transfiere_wcrby0.jpg" style="height: 450px !important; width: 560px !important;" alt="">
                            </li>
                            <li>
                                <img src="{{urlhistoria}}transfiere2_vcock3.jpg" style="height: 450px !important; width: 560px !important;" alt="">
                            </li>
                            <li>
                                <img src="{{urlhistoria}}transfiere3_evuiuh.jpg" style="height: 450px !important; width: 560px !important;" alt="">
                            </li>
                            <li>
                                <img src="{{urlhistoria}}transfiere4_bale1t.jpg" style="height: 450px !important; width: 560px !important;" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>