<section class="caviar-about-us-area section-padding-150" id="about">
    <div class="container">
        <!-- About Us Single Area -->
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div>
                    <img src="../../../assets/img/historia/Emilio.png" style="height: 450px !important; width: 560px !important;">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
                <div class="section-heading">
                    <h2>1978</h2>
                </div>
                <div class="about-us-content">
                    <span>Creacion</span>
                    <p>Martínez & Hijos Cia. Ltda. Surgió como iniciativa del socio fundador, Sr. Emilio Martínez y su esposa, él cual se desempeñaba, hasta ese momento como agente vendedor de productos de consumo masivo de la “Universal”.
                        <br>Se constituye el 9 de Enero de 1978, ante el notario Dr. Rubén Vintimilla Bravo y se inscribe en el registro mercantil el 23 de Enero de 1978. La compañía esta domiciliada en la ciudad de Cuenca, provincia del Azuay.</p>
                </div>
            </div>
        </div>
        <!-- About Us Single Area -->
        <div class="about-us-second-part">
            <div class="row align-items-center pt-200">
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="section-heading">
                        <h2>1984</h2>
                    </div>
                    <div class="about-us-content">
                        <span>Inicios</span>
                        <p>La Compañía se inició en el domicilio del Sr. Emilio Martínez, ubicado en la calle Tarqui 11-41; para febrero de 1978 se inaugura el primer local propio, en la calle vieja 7-96 entre Héroes de Verdeloma y Armenillas. En julio de
                            1984, Martínez & hijos pasa a laborar en el local adjunto también de su propiedad.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 ml-md-auto">
                    <div>
                        <img src="../../../assets/img/historia/primerLocal.JPG" style="height: 450px !important; width: 560px !important;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>