<section class="caviar-hero-area" id="home">

    <div class="welcome-social-info">
        <a href="https://www.facebook.com/martinezehijoscialtd" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/martinezehijos.cialtda/" target="_blank"><i class="fa fa-instagram" aria-hidden="true" ></i></a>
    </div>


    <div class="flexslider">
        <ul class="slides">
            <li>
                <div class="single-hero-slides bg-img" style="background-image: url(../../../assets/img/bg-img/prodKimberly.jpg);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <div class="col-11 col-md-6 col-lg-4">
                                <div class="hero-content">
                                    <h2>Higiene</h2>
                                    <p>Productos de primera necesidad para el cuidado limpieza y desinfeccion personal y de espacios</p>
                                    <a href="#" class="btn caviar-btn"><span></span> Ver productos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hero-slides-nav bg-img" style="background-image: url(https://res.cloudinary.com/martinezweb/image/upload/v1626103149/assets/comestibles_tihnpx.png );"></div>
                </div>
            </li>
            <li>
                <div class="single-hero-slides bg-img-principal " style="background-image: url(https://res.cloudinary.com/martinezweb/image/upload/v1626103149/assets/comestibles_tihnpx.png );">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <div class="col-11 col-md-6 col-lg-4">
                                <div class="hero-content">
                                    <h2>Comestibles</h2>
                                    <p>Distribuimos productos de consumo humano de las mejores marcas.</p>
                                    <a href="#" class="btn caviar-btn"><span></span> Ver productos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hero-slides-nav bg-img" style="background-image: url(../../../assets/img/bg-img/prodKimberly.jpg);"></div>
                </div>
            </li>
        </ul>
    </div>

    <!--   <div class="caviar-hero-slides owl-carousel">
        <div class="single-hero-slides bg-img" style="background-image: url(../../../assets/img/bg-img/comestibles.png);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-11 col-md-6 col-lg-4">
                        <div class="hero-content">
                            <h2>Lorem Ipsum</h2>
                            <p>Morbi sed porta diam. Sed pulvinar cursus lorem, consectetur iaculis dolor scelerisque non. Praesent bibendum mauris risus, non aliquam tellus consectetur nec.</p>
                            <a href="#" class="btn caviar-btn"><span></span> Reservation</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-slides-nav bg-img" style="background-image: url(../../../assets/img/bg-img/empresa.png);"></div>
        </div>
        <div class="single-hero-slides bg-img" style="background-image: url(../../../assets/img/bg-img/hero-2.png);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-11 col-md-6 col-lg-4">
                        <div class="hero-content">
                            <h2>Lorem Ipsum</h2>
                            <p>Morbi sed porta diam. Sed pulvinar cursus lorem, consectetur iaculis dolor scelerisque non. Praesent bibendum mauris risus, non aliquam tellus consectetur nec.</p>
                            <a href="#" class="btn caviar-btn"><span></span> Reservation</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-slides-nav bg-img" style="background-image: url(../../../assets/img/bg-img/hero-22.jpg);"></div>
        </div>
    </div> -->

</section>

<section class="caviar-dish-menu" id="menu">
    <div class="container">
        <div class="row">
            <div class="col-12 menu-heading">
                <div class="section-heading text-center">
                    <br>
                    <br>
                    <h2 class="sombra">CON </h2>
                </div>
                <!-- btn -->
            </div>
        </div>

        <div class=" wow fadeInUp" style="text-align: center;" data-wow-delay="1.5s">
            <img src="../../../assets/img/bg-img/logos.png" alt="">
        </div>
    </div>
</section>