<section class="caviar-hero-area" id="home">

    <div class="welcome-social-info">
        <a href="https://www.facebook.com/martinezehijoscialtd" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/martinezehijos.cialtda/" target="_blank"><i class="fa fa-instagram" aria-hidden="true" ></i></a>
    </div>


    <div class="caviar-hero-slides owl-carousel">
        <!-- Single Slides -->
        <div class="single-hero-slides bg-img" style="background-image: url(../../../assets/img/bg-img/prodKimberly.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-11 col-md-6 col-lg-4">
                        <div class="hero-content">
                            <h2>Higiene</h2>
                            <p>Productos de primera necesidad para el cuidado limpieza y desinfeccion personal y de espacios</p>
                            <a href="#" class="btn caviar-btn"><span></span> Ver productos</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider Nav -->
            <div class="hero-slides-nav bg-img" style="background-image: url(../../../assets/img/bg-img/comestibles.png);"></div>
        </div>
    </div>
    <!-- Single Slides -->
    <div class="single-hero-slides bg-img" style="background-image: url(../../../assets/img/bg-img/comestibles.png);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-11 col-md-6 col-lg-4">
                    <div class="hero-content">
                        <h2>Comestibles</h2>
                        <p>Distribuimos productos de consumo humano de las mejores marcas.</p>
                        <a href="#" class="btn caviar-btn"><span></span> Ver productos</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Nav -->
        <div class="hero-slides-nav bg-img" style="background-image: url(../../../assets/img/bg-img/prodKimberly.jpg);"></div>
    </div>



</section>

<section class="caviar-dish-menu" id="menu">
    <div class="container">
        <div class="row">
            <div class="col-12 menu-heading">
                <div class="section-heading text-center">
                    <br>
                    <br>
                    <h2 class="sombra">CON MAS DE 40 AÑOS DE COMERCIALIZACION NOS HEMOS POSICIONADO COMO LA DISTRIBUIDORA MAS GRANDE DEL AUSTRO</h2>
                </div>
                <!-- btn -->
                <a href="productos.html" class="btn caviar-btn"><span></span> Productos</a>
            </div>
        </div>

        <div class="caviar-single-dish wow fadeInUp" style="text-align: center;" data-wow-delay="1.5s">
            <img src="../../../assets/img/bg-img/logos-web.webp" alt="">
            <div class="dish-info">
            </div>
        </div>
    </div>
</section>