<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../../assets/img/menu-img/Licores/licoresprincipal.png)">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h2>Licores</h2>
                    <a [routerLink]="['/Producto']" id="menubtn" class="btn caviar-btn"><span></span>Productos</a>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="caviar-dish-menu clearfix" id="menu">
    <div class="container">
        <div class="row">
            <div class="col-12 menu-heading">
                <div class="section-heading text-center">
                    <br>
                    <br>
                    <br>
                    <h2 class="sombra">Licores</h2>
                </div>
            </div>
        </div>
        <div class="row  col-12">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/Licores/1.png " alt="">
                    <div class="dish-info">
                        <h6>Whisky Williams
                            <br>Black 1000 ml
                            <p>Caja: 12 unidades </p>
                            <br>
                            <br>
                            <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Licores/2.png" alt="">
                    <div class="dish-info">
                        <h6>Wisky Williams
                            <br>Red 750 ml
                            <p> Caja: 12 unidades</p>
                            <br>
                            <br>
                            <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/Licores/3.png" alt="">
                    <div class="dish-info">
                        <h6>Vodka Siberian
                            <br>750 ml
                            <br>Sabor: Cramberry,
                            <br> Citrus, Green,
                            <br> Neutro.
                            <p> Caja: 12 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/Licores/4.png" alt="">
                    <div class="dish-info">
                        <h6> Tequila Agave
                            <br>Espuela 750 ml
                            <p>Caja: 12 unidades</p>
                            <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Licores/5.png" alt="">
                    <div class="dish-info">
                        <h6> Aguardiente de
                            <br>Caña Zamarro
                            <br>750ml
                            <p>Caja: 24 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/Licores/6.png" alt="">
                    <div class="dish-info">
                        <h6>Aguardiente de
                            <br>Caña Zamarro
                            <br>375ml
                            <p>Caja: 12 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/Licores/7.png" alt="">
                    <div class="dish-info">
                        <h6> Ron Roncero Black
                            <p>Caja: 12 unidades</p>
                            <br>
                            <br>
                        </h6>

                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Licores/8.png" alt="">
                    <div class="dish-info">
                        <h6>Ron Roncero 36
                            <br>Especial estuche
                            <br> negro 750 cc
                            <br>
                            <p>Caja: 12 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/Licores/9.png" alt="">
                    <div class="dish-info">
                        <h6>Vino Moscatel
                            <br>Coctel sabor uva
                            <br>
                            <p>Galon/ Caja:
                                <br>4 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/Licores/10.png" alt="">
                    <div class="dish-info">
                        <h6>Vino Moscatel
                            <br>Coctel sabor uva
                            <br>
                            <p>1000cc / Caja:
                                <br>6 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Licores/11.png" alt="">
                    <div class="dish-info">
                        <h6>Vino Dulce M. Sevilla
                            <br> Cocktel Consagrar
                            <br>
                            <p>750cc / Caja:
                                <br>12 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/Licores/12.png" alt="">
                    <div class="dish-info">
                        <h6>Vino Dulce M. Sevilla
                            <br>Cocktel sabor uva
                            <br>
                            <p>750cc / Caja:
                                <br>12 unidades
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/Licores/13.png" alt="">
                    <div class="dish-info">
                        <h6>Vino Gran Villa
                            <br>600ml Cocktel
                            <br>Ice Pack
                            <p>Sabor: Frutilla,Uva<br>Durazno y Manzana <br> </p>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>