<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({{urlproducto}}productos_qspurc.png) ">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h2>Productos</h2>
                    <p>Productos de consumo masivo</p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="caviar-dish-menu clearfix" id="menu">
    <div class="container">
        <div class="row">
            <div class="col-12 menu-heading">
                <div class="section-heading text-center">
                    <br>
                    <br>
                    <div>
                        <br>
                        <div>

                        </div>
                    </div>
                    <h2 class="sombra"> Productos </h2>
                </div>
            </div>
        </div>
        <div class="row col-12">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish " data-wow-delay="0.4s">
                    <img src="{{urlproducto}}colgate_ocbkiw.png" alt="colgate">
                    <div class="dish-info" [routerLink]="['/ProductoColgate']">
                        <p class="dish-name"> <br>Cepillos<br> Pasta dental Enjuague bucal Hilo dental<br><br></p>
                        <p class="dish-price"><i class="fa fa-angle-double-right"></i></p>

                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlproducto}}familia_algvu7.png" alt="">
                    <div class="dish-info" [routerLink]="['/ProductoPapel']">
                        <p class="dish-name">
                            <br> Papel<br> Pañitos humedos Servilletas<br> Toallas sanitarias
                        </p>
                        <p class="dish-price"><i class="fa fa-angle-double-right"></i></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlproducto}}limpieza_facial_uiawqh.png" alt="">
                    <div class="dish-info" [routerLink]="['/ProductoJabon']">
                        <p class="dish-name">
                            <br>Jaboncillos Desodorantes Shampoo<br> Crema de peinar Gel<br><br>
                        </p>
                        <p class="dish-price"><i class="fa fa-angle-double-right"></i></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlproducto}}limpieza_objetos_kzlcpd.png" alt="">
                    <div class="dish-info" [routerLink]="['/ProductoLimpieza']">
                        <p class="dish-name">
                            <br> Suavisante de ropa
                            <br>Desinfectantes
                            <br>Cloro
                            <br>Alcohol
                        </p>
                        <p class="dish-price"><i class="fa fa-angle-double-right"></i></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlproducto}}bebidas_frias_grwknx.png" alt="">
                    <div class="dish-info">
                        <p class="dish-name">
                            <br>Energizantes Saviloe
                            <br>Bebidas solubles
                            <br>
                            <br>
                            <br>
                        </p>
                        <p class="dish-price"><i class="fa fa-angle-double-right"></i></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlproducto}}azuca_avena_b7mego.png" alt="">
                    <div class="dish-info">
                        <p class="dish-name">
                            <br>Azucar
                            <br>Avena Maizabroza
                            <br>
                            <br>
                            <br>
                        </p>
                        <p class="dish-price"><i class="fa fa-angle-double-right"></i></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlproducto}}fideos_atun_idcreq.png" alt="">
                    <div class="dish-info">
                        <p class="dish-name">
                            <br>Fideos
                            <br>Tallarin
                            <br>Lasaña
                            <br>Atun
                            <br>Sardina
                            <br>
                        </p>
                        <p class="dish-price"><i class="fa fa-angle-double-right"></i></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlproducto}}dulces_chocolates_uri1a7.png" alt="">
                    <div class="dish-info" [routerLink]="['/ProductoDulce']">
                        <p class="dish-name">
                            <br>Caramelos Chocolates Dulces
                            <br>
                            <br>
                            <br>
                        </p>
                        <p class="dish-price"><i class="fa fa-angle-double-right"></i></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlproducto}}agripac_j6zxgf.png" alt="">
                    <div class="dish-info" [routerLink]="['/ProductoAgripac']">
                        <p class="dish-name">
                            <br>Racticidas Insecticidas Comida de perro <br>Comida de gato<br>

                        </p>
                        <p class="dish-price"><i class="fa fa-angle-double-right"></i></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlproducto}}limpieza_hc8efl.png" alt="">
                    <div class="dish-info" [routerLink]="['/ProductoEstrella']">
                        <p class="dish-name">
                            <br>Cera de piso Escobas Trapeadores Guantes Viruta Multiusos<br>
                        </p>
                        <p class="dish-price"><i class="fa fa-angle-double-right"></i></p>

                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlproducto}}bebidas_calientes_phr5tq.png" alt="">
                    <div class="dish-info" [routerLink]="['/Productos']">
                        <p class="dish-name">
                            <br>Café <br>Té
                            <br>Cocoa<br><br>
                            <br><br>

                        </p>
                        <p class="dish-price"><i class="fa fa-angle-double-right"></i></p>

                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlproducto}}licores_wgkgxo.png" alt="">
                    <div class="dish-info" [routerLink]="['/ProductoLicor']">
                        <p class="dish-name">
                            <br>Wisky <br> Vodka <br> Tequila <br> Ron<br> Aguardiente<br> Vino
                        </p>
                        <p class="dish-price"><i class="fa fa-angle-double-right"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>