<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({{urlavena}}avenaprincipal_gzvhfn)">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h2>Avena</h2>
                    <a [routerLink]="['/Producto']" id="menubtn" class="btn caviar-btn"><span></span>Productos</a>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="caviar-dish-menu clearfix" id="menu">
    <div class="container">
        <div class="row">
            <div class="col-12 menu-heading">
                <div class="section-heading text-center">
                    <br>
                    <br>
                    <br>
                    <h2>Avena</h2>
                </div>
            </div>
        </div>
        <div class="row  col-12">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlavena}}2_ykwkxi.png" alt="">
                    <div class="dish-info">
                        <h6>Avena Quaker 500grs
                            <p>Saco: 50 fundas</p>
                            <h6>Avena Quaker 250grs
                                <p>Saco: 50 fundas</p>
                            </h6>
                            <h6>Avena Quaker 1000grs
                                <p>Saco: 12 fundas</p>
                            </h6>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlavena}}3_ndkkn4.png" alt="">
                    <div class="dish-info">
                        <h6><br>
                            <br>Harina Maizabrosa 1kilo
                            <p>Saco: 20 fundas</p>
                            <h6>Harina Maizabrosa <br>1/2 kilo
                                <p>Saco: 20 fundas</p>
                            </h6>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlavena}}1_cxtksc.png" alt="">
                    <div class="dish-info">
                        <h6><br><br><br>Hojuelas de avena Don Pancho
                            <br><br>
                            <p><br>100% avena </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <br>
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlavena}}4_h4zjg2.png" alt="">
                    <div class="dish-info">
                        <h6>Avena Quaker molida.
                            <br>
                            <p>Sixpack: 6 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>