<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({{urlestrella}}estrellaprincipal_per3jz.png)">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h2>Limpieza y
                        <br>Desinfeccion</h2>
                    <a [routerLink]="['/Producto']" id="menubtn" class="btn caviar-btn"><span></span>Productos</a>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="caviar-dish-menu clearfix" id="menu">
    <div class="container">
        <div class="row">
            <div class="col-12 menu-heading">
                <div class="section-heading text-center">
                    <br>
                    <br>
                    <br>
                    <h2>Produtos de Limpieza</h2>
                </div>
            </div>
        </div>
        <div class="row  col-12">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlestrella}}1_jjpxnd.png " alt="">
                    <div class="dish-info">
                        <h6>Cera Estrella<br> Roja 720cc<br>
                            <p>Caja: 24 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlestrella}}2_qpyhym.png" alt="">
                    <div class="dish-info">
                        <h6>Cera Estrella<br> Amarilla 720cc
                            <p> Caja: 24 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlestrella}}3_wxyhel.png" alt="">
                    <div class="dish-info">
                        <h6>Cera Estrella Amarilla<br> Galon
                            <p> Caja: 4 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlestrella}}4_ylgf0k.png" alt="">
                    <div class="dish-info">
                        <h6>Cera Don Brillo
                            <p>Caja: 30 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlestrella}}5_jsgm7f.png" alt="">
                    <div class="dish-info">
                        <h6> Escoba cerda media
                            <p>No. de Filas: 6</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlestrella}}6_xtcbzl.png" alt="">
                    <div class="dish-info">
                        <h6>Escoba cerda media
                            <p>No. de Filas: 5 </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlestrella}}7_su9gdq.png" alt="">
                    <div class="dish-info">
                        <h6> Escoba cerda media
                            <p>No. de Filas: 5</p>
                        </h6>

                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlestrella}}8_h7w9aq.png" alt="">
                    <div class="dish-info">
                        <h6>Escoba cerda media
                            <p>No. de Fila : 5</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlestrella}}9_k64q6y.png" alt="">
                    <div class="dish-info">
                        <h6>Estrella fibra <br>removedora de <br>manchas
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <br>
                    <img src="{{urlestrella}}10_rtc5hp.png" alt="">
                    <div class="dish-info">
                        <h6><br>Estrella huracan<br>vincha reforzada<br>
                            <p>
                                trapeador estrella<br>
                            </p><br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlestrella}}11_t18azt.png" alt="">
                    <div class="dish-info">
                        <h6>Guante Profesional <br>Bicolor
                            <p>Talla: #7, #71/2, <br>#8, #81/2, #9
                                <br>Caja : 180 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlestrella}}12_il5cog.png" alt="">
                    <div class="dish-info">
                        <h6><br>Guante Fine Duro Bicolor
                            <p><br>Talla: #81/2
                                <br> Caja: 180 unidades
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlestrella}}13_mqilxj.png" alt="">
                    <div class="dish-info">
                        <h6>Guante Fliper Bicolor C25
                            <p>Talla: #7, #71/2, <br>#8, #81/2, #9
                                <br>Caja : 180 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlestrella}}14_zc8hmi.png" alt="">
                    <div class="dish-info">
                        <h6><br>Fibra Verde X100
                            <p><br>Paca: 100 unidades<br></p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlestrella}}15_kiv9sd.png" alt="">
                    <div class="dish-info">
                        <h6><br>Fibra Negra Especial<br> 10x14
                            <p>Paca: 50 unidades<br></p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlestrella}}16_x8i6xc.png" alt="">
                    <div class="dish-info">
                        <h6>Esponja Superbrillo Teflon
                            <p>Paca: 50 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlestrella}}17_tig7hj.png" alt="">
                    <div class="dish-info">
                        <h6>Esponja Mixta Canales
                            <p>Paca: 100 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlestrella}}18_gkbyds.png" alt="">
                    <div class="dish-info">
                        <h6>Esponja Superbrillo
                            <p>Paca: 50 unidades<br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlestrella}}19_qyxi5f.png" alt="">
                    <div class="dish-info">
                        <h6>Esponja Surtido Tripack
                            <p>Paca: 40 tripack<br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlestrella}}20_u8klzn.png" alt="">
                    <div class="dish-info">
                        <h6>Esponjilla 6x1
                            <p>Paca: 24 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlestrella}}21_hpmruf.png" alt="">
                    <div class="dish-info">
                        <h6>Esponjilla 3x1
                            <p>Paca: 50 unidades<br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlestrella}}22_tlq1dk.png" alt="">
                    <div class="dish-info">
                        <h6>Estropajo Bronce
                            <p>Paca: 50 unidades<br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlestrella}}23_h5jxlm.png" alt="">
                    <div class="dish-info">
                        <h6>Estropajo Plata Gigante
                            <p>Paca: 40 unidades<br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlestrella}}24_k1vlxc.png" alt="">
                    <div class="dish-info">
                        <h6>Estropajo Alambre
                            <p>Paca 72 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urlestrella}}25_miv9yp.png" alt="">
                    <div class="dish-info">
                        <h6>Viruta Estrella
                            <p>#4, #5, #6 #8
                                <br> Paquete: 10 unidades
                                <br> Paca: 50 unidades
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urlestrella}}26_yqqjc5.png" alt="">
                    <div class="dish-info">
                        <h6>Viruta Lis
                            <p>#6 #8
                                <br>Paquete: 10 unidades
                                <br>Paca: 50 unidades
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urlestrella}}27_bkwc76.png" alt="">
                    <div class="dish-info">
                        <h6>Viruta Don Brillo
                            <p>#4, #5, #6 #8
                                <br> Paquete: 10 unidades
                                <br> Paca: 50 unidades
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>