<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../../assets/img/menu-img/estrella/estrellaprincipal.png)">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h2>Limpieza y
                        <br>Desinfeccion</h2>
                    <a [routerLink]="['/Producto']" id="menubtn" class="btn caviar-btn"><span></span>Productos</a>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="caviar-dish-menu clearfix" id="menu">
    <div class="container">
        <div class="row">
            <div class="col-12 menu-heading">
                <div class="section-heading text-center">
                    <br>
                    <br>
                    <br>
                    <h2>Produtos de Limpieza</h2>
                </div>
            </div>
        </div>
        <div class="row  col-12">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/estrella/1.png " alt="">
                    <div class="dish-info">
                        <h6>Whisky Williams
                            <br>Black 1000 ml
                            <p>Caja: 12 unidades </p>
                            <br>
                            <br>
                            <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/estrella/2.png" alt="">
                    <div class="dish-info">
                        <h6>Wisky Williams
                            <br>Red 750 ml
                            <p> Caja: 12 unidades</p>
                            <br>
                            <br>
                            <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/estrella/3.png" alt="">
                    <div class="dish-info">
                        <h6>Vodka Siberian
                            <br>750 ml
                            <br>Sabor: Cramberry,
                            <br> Citrus, Green,
                            <br> Neutro.
                            <p> Caja: 12 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/estrella/4.png" alt="">
                    <div class="dish-info">
                        <h6> Tequila Agave
                            <br>Espuela 750 ml
                            <p>Caja: 12 unidades</p>
                            <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/estrella/5.png" alt="">
                    <div class="dish-info">
                        <h6> Aguardiente de
                            <br>Caña Zamarro
                            <br>750ml
                            <p>Caja: 24 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/estrella/6.png" alt="">
                    <div class="dish-info">
                        <h6>Aguardiente de
                            <br>Caña Zamarro
                            <br>375ml
                            <p>Caja: 12 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/estrella/7.png" alt="">
                    <div class="dish-info">
                        <h6> Ron Roncero Black
                            <p>Caja: 12 unidades</p>
                            <br>
                            <br>
                        </h6>

                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/estrella/8.png" alt="">
                    <div class="dish-info">
                        <h6>Ron Roncero 36
                            <br>Especial estuche
                            <br> negro 750 cc
                            <br>
                            <p>Caja: 12 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/estrella/9.png" alt="">
                    <div class="dish-info">
                        <h6>Vino Moscatel
                            <br>Coctel sabor uva
                            <br>
                            <p>Galon/ Caja:
                                <br>4 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/estrella/10.png" alt="">
                    <div class="dish-info">
                        <h6>Vino Moscatel
                            <br>Coctel sabor uva
                            <br>
                            <p>1000cc / Caja:
                                <br>6 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/estrella/11.png" alt="">
                    <div class="dish-info">
                        <h6>Vino Dulce M. Sevilla
                            <br> Cocktel Consagrar
                            <br>
                            <p>750cc / Caja:
                                <br>12 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/estrella/12.png" alt="">
                    <div class="dish-info">
                        <h6>Vino Dulce M. Sevilla
                            <br>Cocktel sabor uva
                            <br>
                            <p>750cc / Caja:
                                <br>12 unidades
                            </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/estrella/13.png" alt="">
                    <div class="dish-info">
                        <h6>Vino Gran Villa
                            <br>600ml Cocktel
                            <br>Ice Pack
                            <p>Sabor: Frutilla,Uva<br>Durazno y Manzana <br> </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/estrella/14.png" alt="">
                    <div class="dish-info">
                        <h6>Crema D. Sensitive <br> Original 75ml
                            <br>
                            <br>
                            <p>Caja: 12 unidades <br> .</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/estrella/15.png" alt="">
                    <div class="dish-info">
                        <h6>Crema D. Luminous <br> White Brillante 125ml
                            <br>
                            <br>
                            <p>Caja: 48 unidades <br> .</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/estrella/16.png" alt="">
                    <div class="dish-info">
                        <h6>Kids Gel 50grs <br> Tutifrutti 6años +
                            <br>
                            <br>
                            <p>Caja: 72 unidades <br> surtido </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/estrella/17.png" alt="">
                    <div class="dish-info">
                        <h6>Kids Smiles 75ml <br> 2-5 años
                            <br>
                            <br>
                            <p>Caja: 12 unidades <br> surtido </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/estrella/18.png" alt="">
                    <div class="dish-info">
                        <h6>Kids Smiles 75ml <br> Minions 6años +
                            <br>
                            <br>
                            <p>Caja: 12 unidades <br>.</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/estrella/19.png" alt="">
                    <div class="dish-info">
                        <h6>Enjuage Bucal Plax
                            <br> Ice Infinity 180ml
                            <br>
                            <br>
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/estrella/20.png" alt="">
                    <div class="dish-info">
                        <h6>Enjuague Bucal Plax <br> Ice Glacial 500ml

                            <br>
                            <br>
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/estrella/21.png" alt="">
                    <div class="dish-info">
                        <h6>Enjuague Bucal Plax
                            <br> Luminous White 250ml

                            <br>
                            <br>
                            <p>Caja: 12 unidades <br>.</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/estrella/22.png" alt="">
                    <div class="dish-info">
                        <h6>Enjuague Bucal Plax <br> Kids Minions 250ml
                            <br>
                            <br>
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/estrella/23.png" alt="">
                    <div class="dish-info">
                        <h6>Hilo Dental Colgate Total
                            <br> 25m Fluor y Menta
                            <br>
                            <br>
                            <p>Caja: 24 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/estrella/24.png" alt="">
                    <div class="dish-info">
                        <h6>Hilo Dental Colgate Total 25m
                            <br>
                            <br>
                            <br>
                            <p>Caja: 24 unidades <br>.</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/estrella/25.png" alt="">
                    <div class="dish-info">
                        <h6>Slim Soft Blue 2x1
                            <br>
                            <br>
                            <br>
                            <p>Caja: 24 pares <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/estrella/26.png" alt="">
                    <div class="dish-info">
                        <h6>Slim Soft Advance 2x1
                            <br>
                            <br>
                            <br>
                            <p>Caja: 12 pares <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/estrella/27.png" alt="">
                    <div class="dish-info">
                        <h6>Max White 2x1 <br>
                            <br>
                            <br>
                            <p>Caja: 12 pares <br>.</p>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>