<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../../assets/img/img-mh/mhgroup.png);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h2>Electrodomesticos</h2>
                    <a href="#menu" id="menubtn" class="btn caviar-btn"><span></span>Inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Breadcumb Area End ***** -->

<!-- ***** Menu Area Start ***** -->
<div class="caviar-food-menu section-padding-150 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="food-menu-title">
                    <h2>Electrodomesticos</h2>
                </div>
            </div>
            <div class="col-10">

                <div class="clearfix">

                    <div class="caviar-portfolio clearfix">
                        <!-- Single Gallery Item -->
                        <div class="single_menu_item breakfast wow fadeInUp">
                            <div class="d-sm-flex align-items-center">
                                <div class="dish-thumb">
                                    <img src="../../../assets/img/img-mh/cocina.png" alt="">
                                </div>
                                <div class="dish-description">
                                    <h3>Cocinas</h3>
                                    <p> Las recetas más deliciosas ¡a tu alcance! Prepara tus comidas favoritas con la más alta tecnología. Con nuestras cocinas, vive una verdadera experiencia de potencia, rapidez y eficiencia.</p>
                                </div>
                                <div class="caviar-single-mh">
                                    <div class="dish-info">
                                        <a class="dish-price" href="../../../assets/archivos/catalogoCocinas.pdf" target="_blank">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single Gallery Item -->
                        <div class="single_menu_item breakfast wow fadeInUp">
                            <div class="d-sm-flex align-items-center">
                                <div class="dish-thumb">
                                    <img src="../../../assets/img/img-mh/microondas.png" alt="">
                                </div>
                                <div class="dish-description">
                                    <h3>Microondas</h3>
                                    <p>Comida deliciosa a tu alcance. ¡Tus recetas favoritas prepáralas con la más alta tecnología! Los microondas Innova tienen 6 menús de cocción y 10 niveles de potencia que te permiten disfrutar de tus comidas al instante.</p>
                                </div>
                                <div class="caviar-single-mh">
                                    <div class="dish-info">
                                        <a class="dish-price" href="../../../assets/archivos/catalogoMicroondas.pdf" target="_blank">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single_menu_item breakfast wow fadeInUp">
                            <div class="d-sm-flex align-items-center">
                                <div class="dish-thumb">
                                    <img src="../../../assets/img/img-mh/refrigeracion.png" alt="">
                                </div>
                                <div class="dish-description">
                                    <h3>Refrigeración</h3>
                                    <p> Tecnología, diseño y eficiencia ¡a tu alcance! La línea de refrigeradores y congeladores Innova es líder en el ahorro de energía, te permiten conservar tus alimentos con la máxima frescura y por más tiempo.</p>
                                </div>
                                <div class="caviar-single-mh">
                                    <div class="dish-info">
                                        <a class="dish-price" href="../../../assets/archivos/catalogoRefrigeracion.pdf" target="_blank">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single Gallery Item -->
                        <div class="single_menu_item breakfast wow fadeInUp">
                            <div class="d-sm-flex align-items-center">
                                <div class="dish-thumb">
                                    <img src="../../../assets/img/img-mh/lavadora.png">
                                </div>
                                <div class="dish-description">
                                    <h3>Lavadoras</h3>
                                    <p>¡Ropa limpia y seca a tu alcance! Las lavadoras y secadoras Innova tienen la más alta tecnología en ahorro de energía, con carga frontal, seguro infantil, selección de programas de lavado y secado, con los cuales tu
                                        ropa mantendrá los colores originales. ¡Ahorra tiempo y energía!</p>
                                </div>
                                <div class="caviar-single-mh">
                                    <div class="dish-info">
                                        <a class="dish-price" href="../../../assets/archivos/catalogoLavadoras.pdf" target="_blank">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single Gallery Item -->
                        <div class="single_menu_item breakfast wow fadeInUp">
                            <div class="d-sm-flex align-items-center">
                                <div class="dish-thumb">
                                    <img src="../../../assets/img/img-mh/aire.png" >
                                </div>
                                <div class="dish-description">
                                    <h3>Aire acondicionado</h3>
                                    <p>Con los aires acondicionados Innova, crea un ambiente confortable con una sensación de 
                                        frescura en tu hogar u oficina; y con los ventiladores Innova podrás enfriar cualquier lugar de manera rápida </p>
                                </div>
                                <div class="caviar-single-mh">
                                    <div class="caviar-single-mh">
                                        <div class="dish-info">
                                            <a class="dish-price" href="../../../assets/archivos/catalogoAire.pdf" target="_blank">Ver</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_menu_item breakfast wow fadeInUp">
                            <div class="d-sm-flex align-items-center">
                                <div class="dish-thumb">
                                    <img src="../../../assets/img/img-mh/arrocera.png" >
                                </div>
                                <div class="dish-description">
                                    <h3>Ollas arroceras</h3>
                                    <p>Con los aires acondicionados Innova, crea un ambiente confortable con una sensación de frescura en tu hogar u oficina; y con los ventiladores Innova podrás enfriar cualquier lugar de manera rápida </p>
                                </div>
                                <div class="caviar-single-mh">
                                    <div class="caviar-single-mh">
                                        <div class="dish-info">
                                            <a class="dish-price" href="../../../assets/archivos/catalogoArrocera.pdf" target="_blank">Ver</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_menu_item breakfast wow fadeInUp">
                            <div class="d-sm-flex align-items-center">
                                <div class="dish-thumb">
                                    <img src="../../../assets/img/img-mh/dispnsdor&lavaplts.png" alt="">
                                </div>
                                <div class="dish-description">
                                    <h3>Dispensador y Lavaplatos</h3>
                                    <p>Con los aires acondicionados Innova, crea un ambiente confortable con una sensación de frescura en tu hogar u oficina; y con los ventiladores Innova podrás enfriar cualquier lugar de manera rápida </p>
                                </div>
                                <div class="caviar-single-mh">
                                    <div class="dish-info">
                                        <a class="dish-price" href="../../../assets/archivos/catalogoLavaplatos.pdf" target="_blank">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_menu_item breakfast wow fadeInUp">
                            <div class="d-sm-flex align-items-center">
                                <div class="dish-thumb">
                                    <img src="../../../assets/img/img-mh/televisor.png" width="2600px" height="260px" alt="">
                                </div>
                                <div class="dish-description">
                                    <h3>Televisores</h3>
                                    <p>Imágenes perfectas ¡a tu alcance! Disfruta de tus programas y series favoritas desde la comodidad de tu hogar. Innovamos en eficiencia y tecnologías.</p>
                                </div>
                                <div class="caviar-single-mh">
                                    <div class="dish-info">
                                        <a class="dish-price" href="../../../assets/archivos/catalogoTelevisores.pdf" target="_blank">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_menu_item breakfast wow fadeInUp">
                            <div class="d-sm-flex align-items-center">
                                <div class="dish-thumb">
                                    <img src="../../../assets/img/img-mh/sonido.png" alt="">
                                </div>
                                <div class="dish-description">
                                    <h3>Audio</h3>
                                    <p>El mejor sonido a tu alcance. Disfruta en cualquier momento con la más alta tecnología. Las barras de sonido, parlantes y auriculares Innova, te permiten escuchar tu música favorita y audio de video o películas sin
                                        complicaciones
                                    </p>
                                </div>
                                <div class="caviar-single-mh">
                                    <div class="dish-info">
                                        <a class="dish-price" href="../../../assets/archivos/catalogoAudio.pdf" target="_blank">Ver</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_menu_item breakfast wow fadeInUp">
                            <div class="d-sm-flex align-items-center">
                                <div class="dish-thumb">
                                    <img src="../../../assets/img/img-mh/licuadora&repuestos.png" width="2600px" height="260px" alt="">
                                </div>
                                <div class="dish-description">
                                    <h3>Licuadoras & Repuestos</h3>
                                    <p>con licuadoras black & decker consume tus bebidas y licuados como a ti te gustan, tambien puedes encontrar una amplia variedad de reuestos de alta calidad.</p>
                                </div>
                                <div class="caviar-single-mh">
                                    <div class="dish-info">
                                        <p class="dish-price">Ver</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- Single Gallery Item -->
                        <div class="single_menu_item breakfast wow fadeInUp">
                            <div class="d-sm-flex align-items-center">
                                <div class="dish-thumb">
                                    <img src="../../../assets/img/img-mh/batidora.png" alt="">
                                </div>
                                <div class="dish-description">
                                    <h3>Procesadores, Extractores, Exprimidores y Batidoras</h3>
                                    <p> Con estos electrodomesticos podras preparar tus postres y recetas que mas te gusten, con tecnologia de primera calidad.</p>
                                </div>
                                <div class="caviar-single-mh">
                                    <div class="dish-info">
                                        <p class="dish-price">Ver</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single Gallery Item -->
                        <div class="single_menu_item breakfast dinner wow fadeInUp">
                            <div class="d-sm-flex align-items-center">
                                <div class="dish-thumb">
                                    <img src="../../../assets/img/img-mh/horno&freidora.png" alt="">
                                </div>
                                <div class="dish-description">
                                    <h3>Horno Electrico & Freidoras</h3>
                                    <p>Con la linea de hornos electricos y freidoras de aire cocina tus alimentos de una forma mas saludable.</p>
                                </div>
                                <div class="dish-value">
                                    <h3>$45</h3>
                                </div>
                            </div>
                        </div>
                        <!-- Single Gallery Item -->
                        <div class="single_menu_item lunch wow fadeInUp">
                            <div class="d-sm-flex align-items-center">
                                <div class="dish-thumb">
                                    <img src="../../../assets/img/img-mh/sanwichera&tostadora.png" alt="">
                                </div>
                                <div class="dish-description">
                                    <h3>Sanducheras & Tostadores</h3>
                                    <p>Sandiches y tostadas mas deliciosas siempre a tu alcance. Con nuestra linea de tostadoras tu pedes realizar los mas ricos alimentos al instante.</p>
                                </div>
                                <div class="caviar-single-mh">
                                    <div class="dish-info">
                                        <p class="dish-price">Ver</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single Gallery Item -->
                        <div class="single_menu_item lunch wow fadeInUp">
                            <div class="d-sm-flex align-items-center">
                                <div class="dish-thumb">
                                    <img src="../../../assets/img/img-mh/cafeteras.png" alt="">
                                </div>
                                <div class="dish-description">
                                    <h3>Cafeteras y Repuestos</h3>
                                    <p>Disfruta de tu cafe en la mañana como a ti te gusta tambien contamos con sus repuestos </p>
                                </div>
                                <div class="caviar-single-mh">
                                    <div class="dish-info">
                                        <p class="dish-price">Ver</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single Gallery Item -->
                        <div class="single_menu_item dinner wow fadeInUp">
                            <div class="d-sm-flex align-items-center">
                                <div class="dish-thumb">
                                    <img src="../../../assets/img/img-mh/aspiradora.png" alt="">
                                </div>
                                <div class="dish-description">
                                    <h3>Apiradoras</h3>
                                    <p>Mantiene limpio tu hogar libre de suciedad junto a nuestras aspiradoras de solidos y liquido.</p>
                                </div>
                                <div class="caviar-single-mh">
                                    <div class="dish-info">
                                        <p class="dish-price">Ver</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_menu_item dinner wow fadeInUp">
                            <div class="d-sm-flex align-items-center">
                                <div class="dish-thumb">
                                    <img src="../../../assets/img/img-mh/planchas.png" alt="">
                                </div>
                                <div class="dish-description">
                                    <h3>Planchas</h3>
                                    <p>Mantiene limpio tu hogar libre de suciedad junto a nuestras aspiradoras de solidos y liquido.</p>
                                </div>
                                <div class="caviar-single-mh">
                                    <div class="dish-info">
                                        <p class="dish-price">Ver</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_menu_item dinner wow fadeInUp">
                            <div class="d-sm-flex align-items-center">
                                <div class="dish-thumb">
                                    <img src="../../../assets/img/img-mh/encimeras.png" alt="">
                                </div>
                                <div class="dish-description">
                                    <h3>Encimeras</h3>
                                    <p>Mantiene limpio tu hogar libre de suciedad junto a nuestras aspiradoras de solidos y liquido.</p>
                                </div>
                                <div class="caviar-single-mh">
                                    <div class="dish-info">
                                        <p class="dish-price">Ver</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_menu_item dinner wow fadeInUp">
                            <div class="d-sm-flex align-items-center">
                                <div class="dish-thumb">
                                    <img src="../../../assets/img/img-mh/hornos.png" alt="">
                                </div>
                                <div class="dish-description">
                                    <h3>Hornos</h3>
                                    <p>Mantiene limpio tu hogar libre de suciedad junto a nuestras aspiradoras de solidos y liquido.</p>
                                </div>
                                <div class="caviar-single-mh">
                                    <div class="dish-info">
                                        <p class="dish-price">Ver</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_menu_item dinner wow fadeInUp">
                            <div class="d-sm-flex align-items-center">
                                <div class="dish-thumb">
                                    <img src="../../../assets/img/img-mh/campanas.png" alt="">
                                </div>
                                <div class="dish-description">
                                    <h3>Campanas</h3>
                                    <p>Mantiene limpio tu hogar libre de suciedad junto a nuestras aspiradoras de solidos y liquido.</p>
                                </div>
                                <div class="caviar-single-mh">
                                    <div class="dish-info">
                                        <p class="dish-price">Ver</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>