<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({{urllimpieza}}limpiezaprincipal_mrsw5m.png)">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h2>Limpieza &<br> Desinfeccion </h2>
                    <a [routerLink]="['/Producto']" id="menubtn" class="btn caviar-btn"><span></span>Productos</a>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="caviar-dish-menu clearfix" id="menu">
    <div class="container">
        <div class="row">
            <div class="col-12 menu-heading">
                <div class="section-heading text-center">
                    <br>
                    <br>
                    <br>
                    <h2>Limpieza</h2>
                </div>
            </div>
        </div>
        <div class="row  col-12">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urllimpieza}}1_uz8p25.png" alt="">
                    <div class="dish-info">
                        <h6>Suavitel Fresca <br>Primavera 110ml Sachet
                            <br>Tira 12 unidades
                            <p>Caja: 10 tiras </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urllimpieza}}2_v6wwk7.png" alt="">
                    <div class="dish-info">
                        <h6>Suavitel Dulces Placeres
                            <br>110ml Sachet
                            <br> Tira 12 unidades
                            <p> Caja: 10 tiras</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urllimpieza}}3_cebedk.png" alt="">
                    <div class="dish-info">
                        <h6>Suavitel Tapa Doypack
                            <br> 310ml
                            <br>Aroma: Fresca Primavera
                            <p> Caja: 24 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urllimpieza}}4_vjjvvi.png" alt="">
                    <div class="dish-info">
                        <h6> SUAVITEL TAPA DOYPACK
                            <br>400 Y 430ML
                            <br> Fresca Primavera 430ml
                            <p>Caja: 24 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urllimpieza}}5_igiovu.png" alt="">
                    <div class="dish-info">
                        <h6> SUAVITEL TAPA DOYPACK
                            <br> 400 Y 430ML
                            <br> Dulces Placeres 430ml
                            <p>Caja: 24 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urllimpieza}}6_dwyx6d.png" alt="">
                    <div class="dish-info">
                        <h6> SUAVITEL TAPA DOYPACK
                            <br>400 Y 430ML
                            <br> Complete Lavanda 400ml
                            <p>Caja: 24 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urllimpieza}}7_wepn7p.png" alt="">
                    <div class="dish-info">
                        <h6> SUAVITEL TAPA DOYPACK<br> 400 Y 430ML
                            <br>Complete Flor
                            <br>Primavera 400 ml
                            <p>Caja: 24 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urllimpieza}}8_zbclkd.png" alt="">
                    <div class="dish-info">
                        <h6><br>Suavitel Tapa Doypack
                            <br>800ml
                            <br>Aroma: Fresca Primavera
                            <p>Caja: 12 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urllimpieza}}9_fnemue.png" alt="">
                    <div class="dish-info">
                        <h6>
                            <br>Suavitel Complete
                            <br>Flor Primavera
                            <br>Tapa Doypack 1.5 L<br>
                            <p>Caja: 8 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urllimpieza}}10_gdgzzz.png" alt="">
                    <div class="dish-info">
                        <h6> Suavitel Complete
                            <br>Lavanda
                            <br> Tapa Doypack 1.5 L
                            <p>Caja: 8 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urllimpieza}}11_dfrjuz.png" alt="">
                    <div class="dish-info">
                        <h6>Suavitel Botella
                            <br>970 ml 2x1
                            <br> Complete Lavanda
                            <p>Caja: 6 pares</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urllimpieza}}12_m5giwa.png" alt="">
                    <div class="dish-info">
                        <h6>Suavitel Botella
                            <br>970 ml 2x1
                            <br>Complete Flor Primavera
                            <p>Caja: 6 pares</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urllimpieza}}13_idioma.png" alt="">
                    <div class="dish-info">
                        <h6>Suavitel Botella
                            <br> 970ml 2x1
                            <br>Dulces Placeres / Fres
                            <p>Caja: 6 pares <br> </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urllimpieza}}14_ujuwxn.png" alt="">
                    <div class="dish-info">
                        <h6>Suavitel Botella
                            <br>970ml 2x1
                            <br>Manzana y Frutos Rojos
                            <p>Caja: 6 pares</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urllimpieza}}15_kqnbqo.png" alt="">
                    <div class="dish-info">
                        <h6>Suavitel Fresca <br>Primavera<br> 1000ml 2x1
                            <p>Caja: 6 pares</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urllimpieza}}16_mq5rqo.png" alt="">
                    <div class="dish-info">
                        <h6>Suavitel Fresca<br> Primavera 3litros + 1litro
                            <p>Caja: 4 pack</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urllimpieza}}17_bpgjam.png" alt="">
                    <div class="dish-info">
                        <h6>Aromatel Tapa Doypack<br> Frutos Rojos 425ml
                            <p>Caja: 24 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urllimpieza}}18_c6dwlt.png" alt="">
                    <div class="dish-info">
                        <h6>Aromatel Tapa Doypack
                            <br>Mandarina 425ml
                            <p>Caja: 24 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.4s">
                    <img src="{{urllimpieza}}19_noai6q.png" alt="">
                    <div class="dish-info">
                        <h6>Aromatel Tapa Doypack <br>425ml
                            <br>Coco Bambu
                            <p>Caja: 24 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.6s">
                    <img src="{{urllimpieza}}20_rvm5dy.png" alt="">
                    <div class="dish-info">
                        <h6>Aromatel Tapa Doypack<br> 425ml
                            <br>Floral
                            <p>Caja: 24 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="{{urllimpieza}}21_n3hdvp.png" alt="">
                    <div class="dish-info">
                        <h6>Aromatel Tapa Doypack <br>425ml
                            <br> Lavanda / Mora
                            <p>Caja: 24 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>