<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../../assets/img/bg-img/empresa.png)">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h2>Contactos</h2>
                    <p><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+593072802258">+(593)(07)282-9613</a><br> <a href="tel:+593995252681">+(593) 995252681</a></p>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> Hurtado de Mendoza 11-60 y Paseo de los cañaris.
                        <br>Cuenca Ecuador. </p>
                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:someone@yoursite.com">marhijos@etapanet.net</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Breadcumb Area End ***** -->

<!-- ***** Contact Area Start ***** -->
<div class="caviar-contact-area d-md-flex align-items-center" id="contact">
    <div class="contact-form-area d-flex justify-content-end">
        <div class="contact-form">
            <div class="contact-form-title">
                <p>Ponerse en contacto</p>
            </div>
            <form action="#">
                <div class="row">
                    <div class="col-12">
                        <input type="text" class="form-control" placeholder="Tu nombre">
                    </div>
                    <div class="col-12">
                        <input type="email" class="form-control" placeholder="tu correo electronico">
                    </div>
                    <div class="col-12">
                        <textarea name="message" class="form-control" id="Message" cols="30" rows="10" placeholder="Tu mensaje"></textarea>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn caviar-btn"><span></span> Enviar mensaje</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="caviar-map-area wow fadeInRightBig" data-wow-delay="0.5s">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15245.59965270599!2d-78.98182696572286!3d-2.8968107232307356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cd182f855ad9fd%3A0x9a7cb05efe6c112c!2sMartinez%20e%20Hijo%20Cia.%20ltda!5e0!3m2!1ses-419!2sec!4v1624885752630!5m2!1ses-419!2sec"
            width="800" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>