<div class="breadcumb-area bg-img bg-overlay" style="background-image: url({{urlnoticias}}noticiaPortada_nnjwkl.png);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h2>Noticias<br> Promociones <br>y mas..
                    </h2>
                    <a [routerLink]="['/Inicio']" id="menubtn" class="btn caviar-btn"><span></span>Inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="caviar-about-us-area section-padding-100" id="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="wow fadeInUp " data-wow-delay="0.3s">
                    <div class="slider">
                        <ul>
                            <li>
                                <img src="{{urlnoticias}}vacunados1_ykiwff" style="height: 450px !important; width: 560px !important;" alt="vacunados.png">
                            </li>
                            <li>
                                <img src="{{urlnoticias}}vacunados2_ksibvz" style="height: 450px !important; width: 560px !important;" alt="personal vacunado.png">
                            </li>
                            <li>
                                <img src="{{urlnoticias}}vacunados3_nmkmig" style="height: 450px !important; width: 560px !important;" alt="personal vacunado.png">
                            </li>
                            <li>
                                <img src="{{urlnoticias}}vacunados4_rayz3c" style="height: 450px !important; width: 560px !important;" alt="personal vacunado.png">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 ml-md-auto">
                <div class="section-heading">
                    <h2>Nuestro personal se encuentra totalmente vacunado</h2>
                </div>
                <div class="about-us-content">
                    <p>Comunicamos a nuestros socios y clientes que nuestro equipo se encuentra completamente vacunado, para poder atenderlos con mayor seguridad y confianza, manteniendo siempre las medidas de seguridad. </p>
                </div>
            </div>
        </div>
        <div class="row align-items-center pt-200">
            <div class="col-12 col-md-6">
                <div class="wow fadeInUp " data-wow-delay="0.3s">
                    <li>
                        <img src="{{urlnoticias}}90235925_141030097449475_303008134551568384_n_sek7pv" style="height: 450px !important; width: 560px !important;" alt="kit desinfeccion.png">
                    </li>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 ml-md-auto">
                <div class="section-heading">
                    <h2>Protejete a ti y a los que mas quieres contra el Covid-19</h2>
                </div>
                <div class="about-us-content">
                    <p>Martienz e Hijos concientes de la situacion que atravieza el mundo entero, ofrece a sus clientes su kit de desinfeccion, y limpieza. Pregunta para mayor informacion.
                    </p>
                </div>
            </div>
        </div>
        <div class="row align-items-center pt-200">
            <div class="col-12 col-md-6">
                <div class="wow fadeInUp " data-wow-delay="0.3s">
                    <div class="slider">
                        <ul>
                            <li>
                                <img src="{{urlnoticias}}espuma1_ymwknl.jpg" style="height: 450px !important; width: 560px !important;" alt="espuma.png">
                            </li>
                            <li>
                                <img src="{{urlnoticias}}espuma2_im55ne.jpg" style="height: 450px !important; width: 560px !important;" alt="espuma.png">
                            </li>
                            <li>
                                <img src="{{urlnoticias}}espuma3_xrjckx.jpg" style="height: 450px !important; width: 560px !important;" alt="espuma.png">
                            </li>
                            <li>
                                <img src="{{urlnoticias}}espuma4_t2azwk.jpg" style="height: 450px !important; width: 560px !important;" alt="espuma.png">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 ml-md-auto">
                <div class="section-heading">
                    <h2>Disfruta de este carnaval de nuestros productos</h2>
                    <h2>Espuma carnavalera</h2>
                </div>
                <div class="about-us-content">
                    <p>Pregunta por nuestro producto de diversion, la espuma carvalera, adquierelo a un bajo precio, y con un gran descuento si tu compra es al por mayor.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>