<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../../assets/img/menu-img/cuidado_personal/jabonprincipal.png)">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h2>Limpieza 
                        <Br>Corporal</h2>
                    <a href="#menu" id="menubtn" class="btn caviar-btn"><span></span> Inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="caviar-dish-menu clearfix" id="menu">
    <div class="container">
        <div class="row">
            <div class="col-12 menu-heading">
                <div class="section-heading text-center">
                    <br>
                    <br>
                    <br>
                    <h2>Cuidado Personal</h2>
                </div>
            </div>
        </div>
        <div class="row  col-12">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/Jabones/1.png" alt="">
                    <div class="dish-info">
                        <h6>Protex Avena
                            <br>3x100 grs
                            <br>
                            <p>Caja: 24 tripack </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/2.png" alt="">
                    <div class="dish-info">
                        <h6>PROTEX B. SALUDABLE
                            <br> 3x110grs
                            <br>
                            <p> Caja: 24 tripack </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/Jabones/3.png" alt="">
                    <div class="dish-info">
                        <h6>PROTEX COMPLETE 12
                            <br>3x110grs
                            <br>
                            <p> Caja: 24 tripack</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/Jabones/4.png" alt="">
                    <div class="dish-info">
                        <h6> PROTEX FRESH
                            <br> 3x110grs
                            <br>
                            <br>
                            <p>Caja: 24 tripack <br> .</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/5.png" alt="">
                    <div class="dish-info">
                        <h6> PROTEX HERBAL
                            <br> 3x110grs
                            <br>
                            <br>
                            <p>Caja: 24 tripack <br>Display: 12 unidades </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/Jabones/6.png" alt="">
                    <div class="dish-info">
                        <h6> PROTEX L. PROFUNDA
                            <br> 3x110grs
                            <br>
                            <br>
                            <p>Caja: 24 tripack </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/Jabones/7.png" alt="">
                    <div class="dish-info">
                        <h6>PROTEX L. PROFUNDA ANTI - ESPINILLAS
                            <br>3x110grs
                            <br>
                            <p>Caja: 24 tripack</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/8.png" alt="">
                    <div class="dish-info">
                        <h6>PROTEX MACADAMIA PRO - HIDRATA
                            <br>3x110grs
                            <br>
                            <p>Caja: 24 tripack</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/Jabones/9.png" alt="">
                    <div class="dish-info">
                        <h6>PROTEX OMEGA 3
                            <br> 3x110grs
                            <br>
                            <br>
                            <p>Caja:24 tripack <br>.</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/Jabones/10.png" alt="">
                    <div class="dish-info">
                        <h6> PROTEX VITAMINA E.
                            <br> 3x110grs
                            <br>
                            <br>
                            <p>Caja: 24 tripack <br>.</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/11.png" alt="">
                    <div class="dish-info">
                        <h6>PROTEX DUOPROTECT
                            <br> 3x110grs
                            <br>
                            <br>
                            <p>Caja: 24 tripack</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/Jabones/12.png" alt="">
                    <div class="dish-info">
                        <h6>Jabon Liquido 221ml
                            <br>
                            <br>
                            <p>Caja: 12 unidades</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/Jabones/13.png" alt="">
                    <div class="dish-info">
                        <h6>Jabon Liquido Doypack 500ml
                            <br>
                            <br>Aroma : Avena
                            <p>Caja: 12 unidades <br>. </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/14.png" alt="">
                    <div class="dish-info">
                        <h6>Jabon Liquido Doypack 500ml
                            <br>
                            <br>Aroma : Nutri-Protect
                            <p>Caja: 12 unidades <br> .</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/Jabones/15.png" alt="">
                    <div class="dish-info">
                        <h6>JABON PROTEX 4X110GRS
                            <br>Aroma: Avena
                            <br>
                            <p>Caja: 18paquetes de 4unid <br> .</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/Jabones/16.png" alt="">
                    <div class="dish-info">
                        <h6>JABON PROTEX 4X110GRS
                            <br>Aroma: Limpieza profunda
                            <br>
                            <p>Caja: 18paquetes de 4unid <br> .</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/17.png" alt="">
                    <div class="dish-info">
                        <h6>JABON PROTEX 6X110GRS
                            <br>Aroma: Avena
                            <br>
                            <br>
                            <p>Caja:12paquetes de 6 unid.
                                <br> </p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/Jabones/18.png" alt="">
                    <div class="dish-info">
                        <h6>JABON PROTEX 6X110GRS
                            <br> Limpieza profunda
                            <br>
                            <br>
                            <p>Caja:12paquetes de 6unid
                                <br>.</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/Jabones/19.png" alt="">
                    <div class="dish-info">
                        <h6>JABON PALMOLIVE
                            <br>3X120GRS. DELICADA EXFOLIACION
                            <br>Jazmin y Manteca de Cacao
                            <br>
                            <br>
                            <p>CAJA: 24 TRIPACK <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/20.png" alt="">
                    <div class="dish-info">
                        <h6>JABON PALMOLIVE
                            <br>3X120GRS.
                            <br>EXFOLIACION DIARIA
                            <br> Avena y Azucar Morena
                            <br>
                            <br>
                            <p>CAJA: 24 TRIPACK <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/Jabones/21.png" alt="">
                    <div class="dish-info">
                        <h6>JABON PALMOLIVE
                            <br>3X120GRS. HIDRATACION RADIANTE
                            <br> E. Frutos del Bosque y
                            <br>Agua de Coco
                            <p>CAJA: 24 TRIPACK</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/Jabones/22.png" alt="">
                    <div class="dish-info">
                        <h6>JABON PALMOLIVE
                            <br>3X120GRS.
                            <br>INTENSA RENOVACION
                            <br>Granada, Fruta Rica en Antioxidantes
                            <p>CAJA: 24 TRIPACK</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/23.png" alt="">
                    <div class="dish-info">
                        <h6>JABON PALMOLIVE
                            <br>3X120GRS.
                            <br>SUAVIDAD RADIANTE
                            <br>Yogurt y Frutas
                            <p>CAJA: 24 TRIPACK</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/Jabones/24.png" alt="">
                    <div class="dish-info">
                        <h6>JABON PALMOLIVE
                            <br>3X120GRS. SENSACION HUMECTANTE
                            <br>Oliva y Aloe
                            <p>CAJA: 24 TRIPACK</p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/Jabones/25.png" alt="">
                    <div class="dish-info">
                        <h6>SENSACION PURIFICANTE
                            <br>Con Particulas de Carbon
                            <br>
                            <br>
                            <p>Caja: 24 tripack <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/26.png" alt="">
                    <div class="dish-info">
                        <h6>Jabon Liquido DoyPack 800ml
                            <br>Flor de Manzana y Gardenia
                            <br>
                            <br>
                            <p>Caja: 15 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/Jabones/27.png" alt="">
                    <div class="dish-info">
                        <h6>Jabon Liquido 221ml
                            <br>Flor de Manzana y Gardenia
                            <br>
                            <br>
                            <p>Caja: 12 unidades <br></p>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/Jabones/28.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Lady Speed
                            <br> Stick Roll-on 50ml
                            <br>Derma Aloe
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/29.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Lady Speed
                            <br>Stick Roll-on 50ml
                            <br>Derma Omega 3
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/Jabones/30.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Lady Speed
                            <br>Stick Roll-on 50ml
                            <br>Pro-5
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/31.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Lady Speed
                            <br> Stick Roll-on 50ml
                            <br>DD.Floral Fresh
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>


            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/32.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Lady Speed
                            <br>Stick Roll-on 50ml
                            <br>Power Fresh
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/Jabones/33.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Lady Speed
                            <br>Stick Barra 45grs
                            <br>Derma Omega 3
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/Jabones/34.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Lady Speed
                            <br>Stick Barra 45grs
                            <br>Derma Nacar Aclarado
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/35.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Lady Speed
                            <br>Stick Barra 45grs
                            <br>Derma Aloe
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1.5s">
                    <img src="../../../assets/img/menu-img/Jabones/36.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Lady Speed
                            <br>Stick Barra 45grs
                            <br>Derma Pro 5
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="0.5s">
                    <img src="../../../assets/img/menu-img/Jabones/37.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Lady Speed
                            <br> Stick Barra 45grs
                            <br>Derma Power Fresh
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/38.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Lady Speed
                            <br>Stick Barra 45grs
                            <br>Invisible Floral
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/39.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Lady Speed
                            <br>Stick Barra 45grs
                            <br>Invisible Floral 2x1
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/40.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Lady Speed
                            <br>Stick Barra
                            <br>Floral Fresh Gel 65grs
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/41.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Lady Speed
                            <br>Aerosol 93grs /150ml
                            <br>Derma Omega 3
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/42.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Lady Speed
                            <br>Aerosol 93grs /150ml
                            <br>Derma Aloe
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/43.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Lady Speed
                            <br>Aerosol 93grs /150ml
                            <br>Power Fresh
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/44.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Lady Speed
                            <br>Aerosol 93grs /150ml
                            <br>Derma Aclarado Perla
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/45.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Lady Speed
                            <br>Aerosol 93grs /150ml
                            <br>Pro-5
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/46.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Lady Speed
                            <br>Aerosol 93grs /150ml
                            <br>Perfect Tone / Vitamina E 2x1
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/47.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Lady Speed
                            <br>Aerosol 93grs /150ml
                            <br>Clinical Compete Protection
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/48.png" alt="">
                    <div class="dish-info">
                        <h6>LADY SPEED STICK
                            <br>Florar Fresh
                            <br>Mini Roll-on 30m
                            <br>Dispensador: 6 unidades
                            <p>Caja: 8 dispensadores <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/49.png" alt="">
                    <div class="dish-info">
                        <h6>LADY SPEED STICK
                            <br>Florar Fresh
                            <br>Sachet Crema 10grs
                            <br>Display: 18unidades
                            <p>Caja: 24 displays <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/50.png" alt="">
                    <div class="dish-info">
                        <h6>LADY SPEED STICK
                            <br>Clinical Powder
                            <br>Sachet Crema 9grd
                            <br>Display: 18 unidades
                            <p>Caja: 24 displays<br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/51.png" alt="">
                    <div class="dish-info">
                        <h6>LADY SPEED STICK
                            <br>Clinical Crema
                            <br>Practi-Tubo 30grs
                            <br>Cajita: 6 unidades
                            <p>Caja: 6 cajitas<br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/52.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Man Speed
                            <br>Stick Roll-on 50ml
                            <br>Cool Night
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/53.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Man Speed
                            <br> Stick Roll-on 50ml
                            <br>Xtreme Ultra
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/54.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Man Speed
                            <br>Stick Roll-on 50ml
                            <br>Multi Proteccion 5
                            <br>
                            <br>
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/55.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Man Speed
                            <br>Stick Barra 50grs
                            <br>Xtreme Ultra
                            <br>
                            <br>
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/56.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Man Speed
                            <br>Stick Barra 50grs
                            <br>Fresh
                            <br>
                            <br>
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/57.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Man Speed
                            <br>Stick Barra 50grs
                            <br>Classic X2
                            <br>
                            <br>
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/58.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Man Speed
                            <br>Stick Gel 85grs
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/59.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Man Speed
                            <br>Stick Gel 85grs
                            <br>Cool Night
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/60.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Man Speed
                            <br>Stick Gel 85grs
                            <br>Xtreme Ultra
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/61.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Man Speed
                            <br> Stick Gel 85grs
                            <br>Multi Proteccion X5
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/62.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Man Speed
                            <br>Stick Gel 85grs
                            <br>ADN
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/63.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Man Speed
                            <br>Stick Aerosol 150ml
                            <br>Cool Night
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/64.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Man Speed
                            <br>Stick Aerosol 150ml
                            <br>Xtreme Ultra
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/65.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Man Speed
                            <br>Stick Aerosol 150ml
                            <br>Multi Proteccion X5
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/66.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Man Speed
                            <br>Stick Aerosol 150ml
                            <br>Xtreme Ultra X2
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/67.png" alt="">
                    <div class="dish-info">
                        <h6>Desodorante Man Speed
                            <br>Stick Aerosol 150ml
                            <br>Clinical Complete
                            <p>Caja: 12 unidades <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/68.png" alt="">
                    <div class="dish-info">
                        <h6>MAN SPEED STICK
                            <br>Cool Night Gel 10vrs
                            <br>
                            <br>Display: 16 unidades
                            <p>Caja: 24 displays <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/69.png" alt="">
                    <div class="dish-info">
                        <h6>MAN SPEED STICK
                            <br>Clinical Dry 9vrs
                            <br>
                            <br>Display: 18 unidades
                            <p>Caja: 24 displays <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/70.png" alt="">
                    <div class="dish-info">
                        <h6>MAN SPEED STICK
                            <br>Practi-Crema Tubo 30ml
                            <br>
                            <br>Display: 6 unidades
                            <p>Caja: 6 display <br>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4" style="padding-top:10px;">
                <div class="caviar-single-dish wow fadeInUp" data-wow-delay="1s">
                    <img src="../../../assets/img/menu-img/Jabones/71.png" alt=" ">
                    <div class="dish-info ">
                        <h6>MAN SPEED STICK
                            <br>Mini Roll-on 30ml
                            <br>
                            <br>Dispensador: 6 unidades
                            <p>Caja: 6 dispensadores <br>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>